[2016-06-16 20:32] maclobdell opened #2 "bad links on"
the files were restructured in the mbedmicro/mbed library on github.  there are several links in the handbook that reference files that have been moved.  The links need to be updated.  See page:
https://developer.mbed.org/handbook/mbed-SDK-porting

For example, the link to the file, sleep_api.h, formerly was here:
https://github.com/mbedmicro/mbed/tree/master/libraries/mbed/hal/sleep_api.h

but no

[2016-07-15 09:50] #2 closed, assigned to nobody

[2016-08-08 14:49] MarceloSalazar opened #13 "Link to mbed studio broken"
https://docs.mbed.com/docs/mbed-os-handbook/en/5.1/
Link to mbed Studio is broken

[2016-08-08 16:13] iriark01 commented on #13
Removed, thanks

[2016-08-08 16:13] #13 closed

[2016-08-24 08:11] betzw opened #14 "broken links"
Document `docs/advanced/config_system.md` contains broken links to something which seems to be a porting guide in particular to this [page](https://github.com/ARMmbed/Porting_Guide/blob/master/docs/porting/Targets.md). Where can I find this "Porting Guide"?

[2016-08-26 09:35] iriark01 commented on #14
Afraid the porting guide hasn't been published yet. I've replaced the link with a "coming soon" message. Thank you for pointing it out!

[2016-08-26 09:35] #14 closed

[2016-08-26 11:30] betzw commented on #14
Any idea when this very interesting porting guide will be published?
How can I get notified once its gonna be published?

[2016-12-15 20:25] loverdeg-ep opened #32 "selecting mbed Studio from the Import Program drop-down on our code samples"
https://github.com/ARMmbed/Handbook/blob/5.3/docs/dev_tools/options.md#mbed-studio

"mbed Studio is an mbed Enabled IDE based on Cloud9 and offers a rich development environment. It is currently in alpha and should be considered experimental. You can try it by selecting mbed Studio from the Import Program drop-down on our code samples."

I still hunt for this magical drop-down option every couple

[2016-12-22 21:10] loverdeg-ep commented on #32
Heh!
I finally found it.
[http://studio.mbed.com/](http://studio.mbed.com/)
Should have been obvious I suppose.

[2017-01-03 12:50] iriark01 commented on #32
Thank you for highlighting this. The docs site doesn't integrate with mbed Studio at the moment; I've removed the confusing text.

[2017-01-03 12:50] #32 closed

[2017-02-02 14:03] MarceloSalazar opened #92 "mbed TLS Porting Guide - link broken"
Link at the bottom of this doc is broken:
https://docs.mbed.com/docs/mbed-os-handbook/en/5.2/advanced/tls_porting/

It's pointing at this location (https://docs.mbed.com/docs/mbed-os-handbook/en/5.2/advanced/mbed_OS/Config_sys.md) which is not available.

"
You can read more about how to add a macro for your application ***here***.
"

[2017-02-09 09:51] fredlee12001 opened #95 "Link broken in advanced/mbed_targets page."
At the end of the [advanced/mbed_targets](https://docs.mbed.com/docs/mbed-os-handbook/en/5.3/advanced/mbed_targets/#device_name) page, there is a link to exporter.
It links to [https://docs.mbed.com/docs/mbed-os-handbook/en/5.3/advanced/mbed_targets/exporters.md](https://docs.mbed.com/docs/mbed-os-handbook/en/5.3/advanced/mbed_targets/exporters.md).

While this link seems to be broken, we got 404

[2017-02-13 15:58] iriark01 commented on #95
I've rebuilt the handbook if you want to check this

[2017-02-13 16:01] iriark01 commented on #92
@AnotherButler can you check if it's supposed to point to https://docs.mbed.com/docs/mbed-os-handbook/en/5.2/advanced/config_system/

[2017-02-13 16:19] AnotherButler commented on #92
@iriark01 That is correct. I have submitted PR #99 to fix this.

[2017-02-13 16:26] AnotherButler commented on #95
The updated Handbook looks good to me. @fredlee12001 Does this look good to you? Can we close this issue?

[2017-02-15 23:07] AnotherButler commented on #92
@MarceloSalazar This should now be fixed. Can we close this issue?

[2017-02-16 09:27] MarceloSalazar commented on #92
Yes, it's fixed now. Thanks!

[2017-02-16 09:27] #92 closed

[2017-02-23 06:34] ilg-ul opened #112 "Link to mbed_targets.md broken?"
In `docs/advanced/exporters.md` there is

[code]

As far as I can tell, the link is broken.

@theotherjimmy, can you clarify what does this phrase mean? I would like to add here a reference to the GNU ARM Eclipse exporter, but I don't know how to cope with this phrase.

[2017-02-23 18:40] theotherjimmy commented on #112
The phase is supposed to say that support for GCC_ARM implies support for Make_GCC_ARM. I think the same is true for your GNU ARM Eclipse exporter. @AnotherButler Could you help us with phrasing this? That link should be https://github.com/ARMmbed/Handbook/blob/5.3/docs/advanced/mbed_targets.md

[2017-02-23 19:20] ilg-ul commented on #112
in #113 I suggested to add after that line:

[code]

If you have a better phrasing for both paragraphs, please let me know.

[2017-02-23 19:56] AnotherButler commented on #112
I fixed the broken link with PR #114. We use relative links when possible.

@ilg-ul, I like that added wording.
What do you and @theotherjimmy think about changing "To provide support for Make export, you only have to provide the target configuration within the config system." to "If you have support for GCC_ARM, you have support for Make export." or "If you have support for GCC_ARM, you have supp

[2017-02-23 19:58] theotherjimmy commented on #112
"If you have support for the GCC_ARM toolchain, you have support for MAKE_GCC_ARM." I think it can get confusing if we don't highlight the difference between the exporter and the toolchain.

[2017-02-23 20:05] ilg-ul commented on #112
the previous thumb up means I agree that it can get confusing.

what is the message you want to transmit? being a page about exporters, I guess you want to say something about the exporter. what exactly? the relationship with toolchains? the fact that a given exporter works with certain toolchains?

[2017-02-23 21:24] theotherjimmy commented on #112
I'm trying to say that if `mbed compile -t <toolchain>` works then `mbed export -i make_<toolchain>` will also work.

[2017-02-23 21:26] theotherjimmy commented on #112
It gets worse because `mbed export -i gcc_arm` == `mbed export -i make_gcc_arm`.

[2017-02-23 21:30] ilg-ul commented on #112
that's a good example why manuals must not be written by programmers ;-)

[2017-02-23 21:32] theotherjimmy commented on #112
Indeed, just verified by programmers

[2017-03-06 09:54] mjs-arm opened #121 "This pages links to the deprecated ARM embedded toolchain page on launchpad"
The home of ARM embedded toolchain has moved to:

https://developer.arm.com/open-source/gnu-toolchain/gnu-rm

[2017-03-09 13:18] pfried opened #126 "Missing Visual Studio Code Exporter from CLI"
There is an article in the Handbook describing the use of a VSC debugger.

https://docs.mbed.com/docs/mbed-os-handbook/en/latest/debugging/vscode/

The CLI command

`$ mbed export -i vscode_gcc_arm -m K64F`

should export a program to VSC but there is no such exporter

[2017-03-14 07:17] iriark01 commented on #126
@janjongboom can you help?

[2017-03-14 07:19] iriark01 commented on #121
@AnotherButler on dev_tools/third_party.md (line 82) - can you verify and fix for all versions, please?

[2017-03-14 07:20] iriark01 commented on #112
The PR for this is merged - can I close this as resolved?

[2017-03-14 07:20] iriark01 commented on #95
I think we should close it

[2017-03-14 07:44] #112 closed

[2017-03-14 15:16] #95 closed

[2017-03-17 05:58] janjongboom commented on #126
@pfried @iriark01 We're waiting on some work by Microsoft... See https://github.com/ARMmbed/mbed-os/pull/3915.

To get it to work right now:

[code]

After that you can switch back to whatever mbed OS version you were on before.

[2017-03-25 01:33] adamgreen opened #132 "Online compiler compile menu options are described incorrectly"
At https://github.com/ARMmbed/Handbook/blob/5.4/docs/dev_tools/online_comp.md#compile-and-download , I see the first two compile options described like this:

1. **Compile:** builds your code and downloads a binary file. Current program only.
1. **Compile All:** same as *compile*, but for all programs.

The difference between these two options isn't what programs in your workspace are built but wh

[2017-03-25 03:53] adamgreen opened #133 "Permissive Binary License sometimes referred to as Public Binary License"
In the https://github.com/ARMmbed/Handbook/blob/5.4/docs/cont/contributing.md#how-to-apply-pbl-correctly section of the Handbook the PBL is sometimes expanded to **Public Binary License** but in most places (including the legal license description), it is referred to as the **Permissive Binary License**.

Examples of where it appears to be named incorrectly in this section:
<pre>Unless specificall

[2017-03-27 15:30] AnotherButler commented on #121
@mjs-arm @iriark01 I have fixed this for all versions. Is this OK to close?

[2017-03-27 15:33] AnotherButler commented on #133
@jlovejoy Could you please help me fix the wording?

[2017-03-27 16:27] theotherjimmy commented on #132
The latter bullets are correct.

[2017-03-27 16:28] theotherjimmy commented on #132
Feel free to submit a PR to change this. @AnotherButler, could you comment on which branch that PR would be made against?

[2017-03-27 16:33] AnotherButler commented on #132
Please make such a PR against the 5.4 branch.

[2017-03-27 20:00] adamgreen commented on #132
PR submitted against 5.4 branch.

[2017-03-28 04:24] jlovejoy commented on #133
Good catch! yes, it should be "permissive" not "public" (or unofficially, PB might refer to someone's initials... ;)
I just submitted a PR, as the header notice needed a bit updating that @pjbakker and I came up with some time ago, but forgot to update it here as well.

[2017-03-28 16:28] AnotherButler commented on #133
Thank you so much. You are awesome.

[2017-03-28 16:44] AnotherButler commented on #132
@adamgreen Thanks. I've merged your PR. Is it OK to close this issue?

[2017-03-28 18:05] adamgreen commented on #132
Thanks for merging the PR. I will close this bug.

[2017-03-28 18:05] #132 closed

[2017-03-31 01:37] tz-arm opened #138 "Confused description in the chapter of porting"
There are some reference commend in the porting chapter as below.
Actually there is no "mbed-os-example-new-target" repository and mbed import will be fail.
Is it a typo which want to use "mbed new" or there was such a repository?

ps:
- mbed import mbed-os-example-new-target
- cd mbed-os-example-new-target\mbed-os
- git checkout master
- git pull
- git checkout -b my-new-target
- git remote set-u

[2017-03-31 18:17] AnotherButler commented on #133
Thanks for raising this issue, @adamgreen. We just merged PR #137, which should resolve this issue.

[2017-03-31 18:24] adamgreen commented on #133
Thanks @AnotherButler and @jlovejoy.

[2017-03-31 18:24] #133 closed

[2017-04-21 22:19] AnotherButler commented on #138
@tz-arm I think PR #143 has resolved this issue. Is it OK to close, or is anything still unresolved?

[2017-04-24 15:46] #121 closed

[2017-04-28 15:11] AnotherButler commented on #138
@tz-arm I am closing this issue. Please don't hesitate to reopen it if anything is still unresolved.

[2017-04-28 15:11] #138 closed

[2017-04-28 18:43] bmenchaca opened #152 "Handbook/docs/getting_started/blinky_compiler.md#Compile and Install, Step 6 Incorrect"
For the blinky_compiler document, the Compile and Install section, step 6 says:
6.  The board installs the program and then runs it. You should see the LED blink.

For us, this required a reset before the program took effect; flashing does not reload the program.

[2017-05-01 15:13] theotherjimmy commented on #152
Ah, yes. Let's change that to reflect reality!

[2017-05-01 16:16] bmenchaca opened #153 "Source for https://docs.mbed.com/docs/mbed-os-handbook/en/latest/dev_tools/cli/"
I cannot find the source against which to file issues for the Handbook, Dev Tools, CLI.  The closest I could find the documentation is here:
https://github.com/ARMmbed/Handbook/blob/5.4/docs/dev_tools/cli.md

Which refers to:
https://raw.githubusercontent.com/ARMmbed/mbed-cli/master/README.md%7D

Which says 404.

[2017-05-02 16:36] AnotherButler commented on #153
This page is transcluded from this README: [https://github.com/ARMmbed/mbed-cli](https://github.com/ARMmbed/mbed-cli). When we restructure these docs and move them to the new engine, we should be able to avoid this type of confusing transclusion. In the meantime, please make any PRs for this page against the linked README.

[2017-05-03 16:39] AnotherButler commented on #152
@bmenchaca Thanks for finding this. I've put up PR #155 and marked you as a reviewer. Please let me know if my updated wording is correct.

[2017-05-03 18:54] AnotherButler commented on #152
Closing due to fix in PR #155

[2017-05-03 18:54] #152 closed

[2017-05-03 18:55] AnotherButler commented on #152
Note: Please feel free to reopen this issue if it has not been resolved to your satisfaction.

[2017-05-08 18:43] AnotherButler commented on #126
@janjongboom @pfried Is this OK to close because ARMmbed/mbed-os#3915 has been merged, or is this still an open issue?

[2017-05-08 20:47] janjongboom commented on #126
@AnotherButler Yes, can be closed.

BUT... The vscode page is removed from handbook, so it should be reinstantiated.

[2017-05-08 20:48] janjongboom opened #159 "VSCode page missing"
VSCode feature is now landed, but the page was removed from handbook.

Can we put it back?

@AnotherButler

[2017-05-08 20:52] AnotherButler commented on #159
Oh, yeah. We took it off the YAML because it wasn't merged in the code yet. Has it since been merged?

[2017-05-08 20:54] janjongboom commented on #159
Yes

[2017-05-08 21:08] #126 closed

[2017-05-08 21:09] AnotherButler commented on #159
[This page](https://docs.mbed.com/docs/mbed-os-handbook/en/latest/debugging/vscode/) is now back online.

[2017-05-09 19:53] AnotherButler commented on #159
I'm closing this because that page is back online. Please reopen it if this has not resolved the issue.

[2017-05-09 19:53] #159 closed

[2017-06-05 10:07] iriark01 commented on #153
Can we close this?

[2017-06-06 20:34] AnotherButler commented on #153
@bmenchaca Please feel free to reopen this if you feel it has not been resolved fully.

[2017-06-06 20:34] #153 closed

[2017-06-27 15:22] noutram opened #184 "I2C Master clarification"
It is clear that I2C Slave is not interrupt safe. What is maybe ambiguous is I2C Master. This document does not state it explicitly, and students have been asking.

https://github.com/ARMmbed/Handbook/blob/5.5/docs/concepts/thread_safety.md#drivers

[2017-06-27 21:37] AnotherButler commented on #184
@noutram Thanks for letting us know. We'll update our documentation to clarify. In the meantime, [the Doxygen](https://github.com/ARMmbed/mbed-os/blob/master/drivers/I2C.h#L39) shows that I2C Master is Thread safe. Does that help?

[2017-06-27 22:40] noutram commented on #184
Hi. Thanks for the quick response. Did you mean interrupt safe instead of thread?

[2017-06-28 07:43] 0xc0170 commented on #184
@noutram

Based on the referenced page, there is a list of drivers that are interrupt safe, the rest are either only thread safe or not protected at all (the list of unprotected is there as well). Thus I2C Master should be thread safe, but not interrupt safe (protected by mutex). Does that answer your question? How would you change the document to be more clear?

[2017-06-30 08:18] noutram commented on #184
I've re-read the documentation and tried to understand why it was misunderstood by both myself and others. It boils down to the fact that people don't always read documents linearly from top to bottom, different definitions of terminology and the titles.

I should stress that the document is very precise.

1. Section titles

The document title of the section is "Thread Safety in mbed OS 5" where f

[2017-06-30 08:21] 0xc0170 commented on #184
Yes, always welcomed !

[2017-06-30 08:23] noutram commented on #184
Ok, I'll get on to it as soon as I can. I'll try and create a figure as proposed.

[2017-06-30 15:39] noutram commented on #184
Ok,I've generated a PR on branch 5.5. I also added a figures folder with a new figure + XML source (for draw.io).

[2017-07-07 09:11] bulislaw opened #192 "Handbook website and sources mismatch"
Content in sources and rendered website differ, it's not due to recent chances to docs, as the docs are quite old.
https://github.com/ARMmbed/Handbook/blob/5.5/docs/dev_tools/build_profiles.md
https://docs.mbed.com/docs/mbed-os-handbook/en/latest/dev_tools/build_profiles/

This part is missing from the website:
[code]
for both develop and release profiles.

@AnotherButler

[2017-07-07 18:48] AnotherButler commented on #192
@bulislaw Great eye. I have updated this. Is it OK to close?

[2017-07-10 08:25] bulislaw commented on #192
Brilliant, thanks. Closing.

[2017-07-10 08:25] #192 closed

[2017-07-10 19:00] AnotherButler commented on #184
We have merged PR #189 Thanks for creating it. 👍

Is this issue OK to close?

[2017-07-10 19:02] noutram commented on #184
Sure. Very happy to help

[2017-07-10 19:02] #184 closed

[2017-07-15 09:28] tz-arm opened #196 "Compatible issue of mbed-cli and pyocd"
I just encountered compatible issue while using latest pyocd with mbed-cli 1.1.1, after update to 1.2.0, it works. so recommend to add particular note to highlight it.

[2017-08-04 22:12] AnotherButler commented on #196
@c1728p9 Could you please work with me on this?

[2017-08-05 08:46] c1728p9 commented on #196
Hi @tz-arm, there should be no dependencies between pyocd and mbed-cli, since these are two distinct tools. Can you provide more details on  the problems that you were experiencing and steps to reproduce the problem?

[2017-08-08 00:07] maxpeng opened #202 "Documentation in pdf format"
I find mbed OS 5 handbook is a great resource to learn mbed OS 5. However it is inconvenient to resume the reading on browser, is there a way to convert the documentation into a pdf file for offline reading?

[2017-08-08 15:50] AnotherButler commented on #202
@maxpeng I'm so glad you find the handbook helpful. At this time, we do not offer a way to convert the documentation into a PDF. I'm sorry for the inconvenience.

[2017-08-10 14:03] BlackstoneEngineering commented on #202
@maxpeng Great idea! We have this feature on our backlog of things todo, I will bring this up with our web team to implement in the future. Thanks for your suggestion!

[2017-08-10 14:43] maxpeng commented on #202
@BlackstoneEngineering I am glad to hear this news!!!

Now I am reading [mbed OS API References](https://docs.mbed.com/docs/mbed-os-api-reference/en/latest/), it is pretty interesting to learn mbed OS 5. On my opinion, it changes the way of firmware development.

[2017-09-18 19:00] AnotherButler commented on #196
I'm closing this due to lack of activity. Please feel free to reopen as necessary.

[2017-09-18 19:00] #196 closed

[2017-09-18 19:01] AnotherButler commented on #202
@maxpeng I'm going to close this issue because it is in our backlog. Please feel free to reopen it if you feel there is more to be addressed.

[2017-09-18 19:01] #202 closed

[2017-09-28 18:02] loverdeg-ep opened #274 "Where are the 5.6 Documentation sources?"
Just noticed 5.6 documentation went live but I can't find sources to create an issue against.

[2017-09-28 19:08] loverdeg-ep opened #275 "Enabling Runtime Stats"
From:
[https://github.com/ARMmbed/Handbook/blob/new_engine/docs/tutorials/optimize/memory/runtime_stats.md#L11](https://github.com/ARMmbed/Handbook/blob/new_engine/docs/tutorials/optimize/memory/runtime_stats.md#L11)

[code]

Should this be enabled via command line flag or by adding it to macros in the app config json file?

Also why isn't this defined and described as a macro in [https://github.c

[2017-09-28 22:05] AnotherButler commented on #274
The sources are in the new_engine branch. We expect the branch to be renamed to 5.6 soon. Please let us know if there are more specific locations for which you're looking.

[2017-09-28 22:08] AnotherButler commented on #275
@deepikabhavnani @theotherjimmy Could one of you please help clarify?

[2017-09-28 22:32] deepikabhavnani commented on #275
@loverdeg-ep : As stated in handbook it is a "command line flag". All macros in app config json file will have prefix "MBED_CONF_"

[2017-09-29 00:11] 40Grit commented on #275
@deepikabhavnani why does the recommendation differ for the MBED_MEM_TRACING_ENABLED macro?

Just trying to understand how the mbed cli config system is applied to the OS sources.

[2017-09-29 14:40] deepikabhavnani commented on #275
@40Grit - MBED_MEM_TRACING_ENABLED is for runtime tracing and is supported for all toolchains and is not target specific, it is more of an application configuration.  -D defines are usually for target/toolchain specific code.
Heap statistics for IAR were not supported earlier.  However, now if you propose it to be application config and submit issue(enhancement) on github it may be considered. Als

[2017-09-29 15:50] loverdeg-ep commented on #275
Will make an issue in mbed-os and watch how it's done to get a better understanding.

[2017-09-29 15:50] #275 closed

[2017-09-29 17:22] loverdeg-ep opened #280 "ARM mbed OS software design guide location"
[ARM Mbed OS Software Design Guide](https://os.mbed.com/docs/v5.6/tutorials/memory-optimization.html#arm-mbed-os-software-design-guide)
is generated as a subheading of: [Memory Optimization](https://os.mbed.com/docs/v5.6/tutorials/memory-optimization.html)

Should it be it's own, or on a different page?

[2017-09-29 20:53] AnotherButler commented on #280
@loverdeg-ep Greate eye. Thanks for the issue.

Please let us know if this has been solved to your satisfaction, so we can close this issue.

[2017-10-02 12:50] #280 closed

[2017-10-02 13:03] loverdeg-ep opened #282 ""Introduction to Callbacks" Confusion"
On the [Platform Overview](https://os.mbed.com/docs/v5.6/reference/platform-overview.html) page in the Reference manual there is a "Callbacks" section that seems out of place.

The [Callback](https://os.mbed.com/docs/v5.6/reference/callback.html) page references the previously mentioned section as the  "the introduction to callbacks".

I found it confusing that Callbacks  were the only platform fe

[2017-10-02 15:36] loverdeg-ep opened #283 "Dead Links under Reference->Contributing->Connectivity"
On the Reference Manual's  [Contributing](https://os.mbed.com/docs/v5.6/reference/contributing-connectivity.html) page the following links are dead.

[WiFiInterface.h](https://github.com/ARMmbed/mbed-os/blob/master/features/NetworkSocketAPI/WiFiInterface.h)

[CellularInterface.h](https://github.com/ARMmbed/mbed-os/blob/master/features/NetworkSocketAPI/CellularInterface.h)

[MeshInterface.h](https:

[2017-10-03 23:15] AnotherButler commented on #283
@loverdeg-ep Great eye. Thanks for raising the issue. We have now addressed this. Please let us know if we can close this issue.

[2017-10-04 17:18] #283 closed

[2017-10-06 13:08] loverdeg-ep commented on #282
@AnotherButler
There are no "linked" subheadings on the [Platform Overview](https://os.mbed.com/docs/v5.6/reference/platform-overview.html) page either.

As an engineer trying to meld with the documentation, little things like this make it really hard to get a flow going.

[2017-10-06 13:13] loverdeg-ep commented on #282
"this" being issue #282 as a whole not just the lack of "linked" subheadings.

[2017-10-06 15:41] AnotherButler commented on #282
@loverdeg-ep Thanks for the great feedback. We have plans to add more content about other platform APIs to the Platform Overview page, so Callbacks will no longer be the only platform feature introduced.

@geky @kegilbert Could one of you please reword the "introduction to callbacks" link to be less confusing?

[2017-10-09 20:15] #282 closed

[2017-10-10 18:33] AnotherButler commented on #274
Please don't hesitate to reopen this issue if you feel it has not been resolved.

[2017-10-10 18:44] loverdeg-ep commented on #274
@AnotherButler As long as https://os.mbed.com/docs/v5.6 is live I'd prefer to leave it open for others until new_engine is re-labeled as 5.6

[2017-10-10 18:45] loverdeg-ep commented on #274
@AnotherButler  I don't seem to have the option to re-open

[2017-10-17 14:07] pan- opened #292 "Coding guideline: Clarification on pointer position in declarations"
In the coding guideline, under the `rules` section the following rule is enunciated:

It raise several questions:

* Should this rule be applied to references ?
* What if the name is omitted ? This can be the case in function declaration. Shall it be `void foo(int*)` or `void foo(int *)`
* Is that rule valid for function return type ? Shall it be `int *foo(void)` or `int* foo(void)` ?
* What shall

[2017-10-18 11:34] 0xc0170 commented on #292
Good points here, we shall update the coding style to have better coverage.

[2017-10-19 16:18] AnotherButler commented on #292
Good catch. Once there is agreement on answers to all of those questions, please submit a PR against this file: https://github.com/ARMmbed/Handbook/blob/new_engine/docs/reference/contributing/guidelines/style.md

[2017-10-24 17:44] #274 closed

[2017-11-09 10:59] andrewc-arm opened #331 "Need to elaborate on export-able toolchains?"
Hi,

https://os.mbed.com/docs/v5.6/tutorials/eclipse.html

The above text should be elaborated like following.

Or maybe I am not understanding the intention well. Please elaborate.

[2017-11-09 17:25] theotherjimmy commented on #331
Also, It looks like you tried to use asciidoc in your comment, when github only supports markdown.

[2017-11-10 00:56] andrewc-arm commented on #331
OK. Thanks. That part of the text made me to read exportation page for long which was not needed. Please improve.

[2017-11-13 05:27] janjongboom opened #335 "events_tutorial.md does printf() in ISR, this does not work"
In https://github.com/ARMmbed/Handbook/blob/5.6/docs/tutorials/using_apis/events_tutorial.md we do `printf()` calls in ISRs to show how the code is ran. This is not supported. It used to work in GCC but not with latest mbed OS (throws 'not supported in interrupt context' or something similar on the serial) and never worked in ARMCC.

I'm not sure who wrote this article, but it needs to be rewritte

[2017-11-13 11:27] AnotherButler commented on #335
@janjongboom I wrote this based on a combination of old forum issues, blog posts and comments. It's not a new page, and the content I used to create it was even older, so I'm not surprised it's out of date now. Please feel free to update it to make it technically correct or to let me know exactly how to change it to make it correct. Thanks for catching it 👍

[2017-12-04 20:04] AnotherButler commented on #292
@pan- @0xc0170 Have y'all reached an agreement on answers to all of these questions? If so, please submit a PR against these files:

https://github.com/ARMmbed/Handbook/blob/new_engine/docs/reference/contributing/guidelines/design_guidelines.md

https://github.com/ARMmbed/Handbook/blob/new_engine/docs/reference/contributing/guidelines/style.md

[2017-12-04 20:07] AnotherButler commented on #335
@janjongboom There is a PR up to improve this document: https://github.com/ARMmbed/Handbook/pull/349

Does it solve this issue?

[2017-12-06 03:16] janjongboom commented on #335
@AnotherButler, no that's about other documents (same subject, different document). Maybe we should change the current tutorial to https://os.mbed.com/blog/entry/Simplify-your-code-with-mbed-events/, it does not suffer from the same problem.

[2017-12-12 04:42] loverdeg-ep opened #359 "Dis-intuitive handbook navigation"
I don't have time to study and explain why I believe this isn't working.
I just know it must not be working because it completely inhibits me from getting into [flow](https://en.wikipedia.org/wiki/Flow_(psychology))

I was checking out the recent content improvements to the handbook and had to literally close the tab to prevent myself from trying to figure out what I was looking at.

While I suspe

[2017-12-12 15:14] AnotherButler commented on #359
@loverdeg-ep Thank you for your feedback. There is an issue with the heading levels here, and we are currently working on a fix. I'll pass your comment about the blue lines on to our UX team. I understand that you're busy right now. In the future, if you have further feedback about this issue, we're happy to hear it.

[2017-12-14 15:53] loverdeg-ep commented on #359
@AnotherButler Another note, I've always been a massive fan of the [android developer documentation](https://developer.android.com/index.html).

In my opinion that should be your "gold standard".

You've already developed an engine for documentation.
But if you want the community involved it would be nice if either a popular platform were chosen or
your documentation standards and procedures were

[2017-12-15 03:52] senthilr opened #362 "BLE class reference gives page error in v5.6 docs"
Clicking on the BLE Class Reference url throws "Page error" and the class reference does not render.
https://os.mbed.com/docs/v5.6/mbed-os-api-doxy/class_b_l_e.html
This seems to be the case for all BLE APIs
https://os.mbed.com/docs/v5.6/mbed-os-api-doxy/class_heart_rate_service.html
https://os.mbed.com/docs/v5.6/reference/ibeacon.html#ibeacon-class-reference
@AnotherButler

[2017-12-18 17:45] janjongboom opened #365 "Sleep documentation could be improved - and is not findable"
Sleeping in Mbed OS 5 is fundamentally different from earlier versions (SleepManager.md). We need to emphasize that `sleep()` should never be called manually and add some extra examples how this works with multiple threads pinging. Also, how does sleep behave when you wait on a Semaphore instead of via wait()? Also, need more info that on `develop` profile the device might not go to sleep properly

[2017-12-18 17:52] AnotherButler commented on #365
@janjongboom Thank you for the issue. I'll create a ticket for this. In the future, please create a ticket for similar issues.

"We need to put some notes on the old pages that this has changed now."
Do you think we need more than the big yellow bar with the exclamation mark and note to indicate that the documentation has moved?

![image](https://user-images.githubusercontent.com/23487484/34120020

[2017-12-18 17:55] AnotherButler commented on #365
@janjongboom There is an open PR that I think may answer the questions you raised. Does this solve this issue?
https://github.com/ARMmbed/Handbook/pull/351

[2017-12-18 18:47] janjongboom commented on #365
@AnotherButler, well that's the build profiles page, I wouldn't expect sleep info to be there... But f.e. the SiLabs sleep page could use a mark.

[2017-12-18 18:48] janjongboom commented on #365
@AnotherButler #351 is a start, but it still lacks information and code samples beyond the most basic of use cases.

[2017-12-18 20:14] AnotherButler commented on #365
@janjongboom Thanks for clarifying. I'll tag you in the ticket I create. The technical authors do not control the content of the teams pages. I'll talk to Partner Enablement about those.

[2017-12-20 21:10] AnotherButler commented on #362
@senthilr Thanks for raising this issue. Because of an mbed-os policy to exclude Doxygen that throws warnings, these APIs were not included in the 5.6 Doxygen. However, we have fixed this issue in 5.7: https://os.mbed.com/docs/v5.7/reference/ble.html

[2017-12-21 19:17] loverdeg-ep commented on #359
@AnotherButler

![image](https://user-images.githubusercontent.com/24318071/34270968-4a2fe4f6-e658-11e7-9d31-00a505d087c9.png)

I just noticed the the [docker docs] (https://docs.docker.com/engine/breaking_changes/) use a similar navigation scheme to yours.

I think the drop-downs make all the difference and I like the bold line indicating the current page versus mbed docs 'light gray highlight'.

[2018-01-02 22:50] AnotherButler commented on #362
Please don't hesitate to reopen this issue if you feel it is not resolved.

[2018-01-02 22:50] #362 closed

[2018-01-05 00:07] AnotherButler commented on #359
@loverdeg-ep I am happy to report that our team has fixed the problem with the navigation bar headings. You can find the correctly formatted page here: https://os.mbed.com/docs/v5.7/reference/apis.html

I have passed your feedback on to our UX team. Thank you for taking the time to create this issue. We appreciate your input. If you have any other suggestions, please don't hesitate to create anoth

[2018-01-05 00:07] #359 closed

[2018-01-05 00:08] AnotherButler commented on #292
@pan- @0xc0170 Where do we stand on progress made against this issue?

[2018-01-05 00:11] AnotherButler commented on #335
@janjongboom Because there is additional content on that page that is still correct, I don't want to replace the whole page. I understand how busy you are, but when you get the chance, could you please help me update the examples and other text in the tutorial that's incorrect? Or could you recommend an engineer who could? Thanks so much.

[2018-01-05 10:38] janjongboom commented on #335
@AnotherButler I'll try and do it next week.

[2018-01-08 16:19] AnotherButler commented on #331
I'm closing this because PR #373 resolves this. Please feel free to reopen this issue if you feel it is not resolved.

[2018-01-08 16:19] #331 closed

[2018-01-09 08:10] 0xc0170 opened #375 "Serial - example three - printf in ISR"
Reference: https://github.com/ARMmbed/Handbook/blob/5.7/docs/reference/api/drivers/Serial.md#example-three

It should either be doing buffering in ISR or use RawSerial (the api is regarding Serial thus would probably need to be rewritten to capture characters and process them in the main thread?)

[2018-01-09 16:50] AnotherButler commented on #375
If this is incorrect, please update this example or let me know who to tag to do it.

[2018-01-10 14:27] 0xc0170 commented on #375
Done, Pr created : https://os.mbed.com/teams/mbed_example/code/Serial_ex_3/pull-request/1

@sarahmarshy can you review (I noticed your last commit there)

[2018-01-10 14:30] sarahmarshy commented on #375
@0xc0170, my last commit just updated Mbed OS. Your changes Lgtm

[2018-01-11 22:19] #365 closed

[2018-01-15 14:21] 0xc0170 commented on #375
The example was updated, we just need now to point docs to this revision: https://os.mbed.com/teams/mbed_example/code/Serial_ex_3/rev/4ab47f33a1ae/

[2018-01-24 15:13] loverdeg-ep opened #379 "Navigation Panel - Current Page Indicator too light"
In the image below, I couldn't see the current page indication "light gray-blue highlight".

Looking at this on a different monitor indicated my monitor needed adjusting.

However, I still think the current page indication is either too light or needs a different indicator altogether.

![image](https://user-images.githubusercontent.com/24318071/35339242-14ce7e02-00ee-11e8-98a8-d7b988dce14c.png)

[2018-01-24 16:25] loverdeg-ep opened #380 "Inconsistent Page Leveling"
The following screen capture comes from the page shown when I select [Reference](https://os.mbed.com/docs/v5.7/reference/index.html) in the navigation pane.

![image](https://user-images.githubusercontent.com/24318071/35342172-647e57cc-00f5-11e8-94e3-37c1c0517273.png)

As shown selecting [Reference](https://os.mbed.com/docs/v5.7/reference/index.html) actually takes you down 2 extra levels to the "

[2018-01-24 16:42] AnotherButler commented on #379
@loverdeg-ep Thank you for your feedback. We appreciate your taking the time to let us know about this. I am passing this information on to our UX team.

[2018-01-24 16:53] AnotherButler commented on #379
@loverdeg-ep I have spoken with our UX team. They say there are planned usability improvements that are related to our table of contents navigation, and they have added this as something to look into. Thank you again for raising this issue.

[2018-01-24 16:53] #379 closed

[2018-01-24 17:13] AnotherButler commented on #292
@pan- @0xc0170 Because I have seen no progress or conversation on this issue in more than a month, I'm closing this issue. Please feel free to reopen if this problem persists.

[2018-01-24 17:13] #292 closed

[2018-01-25 12:45] 0xc0170 commented on #292
I proposed a fix to address this issue

[2018-01-25 12:53] 0xc0170 commented on #335
Update example referenced above, please review

[2018-01-25 12:53] 0xc0170 commented on #375
Proposed fix referenced above, please review

[2018-01-25 18:57] AnotherButler commented on #375
@0xc0170 Thank you for PRs. I have merged them and made the changes live, so I am closing this issue. Please feel free to reopen it if it is not resolved to your satisfaction.

[2018-01-25 18:57] #375 closed

[2018-01-29 20:35] loverdeg-ep commented on #380
@AnotherButler Does this follow under the "planned usability improvements that are related to our table of contents navigation" from #379?

If so please close.

[2018-01-29 20:38] AnotherButler commented on #380
@loverdeg-ep Yes, this does. I think there may be a temporary workaround I can do from my end in the meantime. I'm going to leave this ticket open while I explore this option, but if it doesn't work, we'll have to wait for the planned improvements.

[2018-01-30 06:50] coisme commented on #335
Since printf() was removed from rise_handler(), the output at the bottom of the source code is inconsistent. It shouldn't show the line "rise_handler in context 0x0".

[2018-01-30 11:51] 0xc0170 commented on #335
@coisme Good point. I believe what we can do is fix the example by using RawSerial and print what was previously there to see the difference between contexts.

[2018-02-01 14:07] loverdeg-ep opened #391 "Recommended procedure for testing"
From what I recall the doc pages are rendered with an ARM proprietary system.
If I wanted to make changes to the docs how would you recommend I test?

Would be nice to have CI going for this repository...

[2018-02-02 16:02] AnotherButler commented on #391
We recommend contributors add and update content to our documentation the same way they do to Mbed OS, by putting up a PR. We review all PRs on our internal testing site.

We also have an open PR in progress to validate code snippets: https://github.com/ARMmbed/Handbook/pull/246

[2018-02-03 12:05] hasnainvirk opened #395 "documentation for mesh is broken"
Main issue, documentation for mesh is broken. Breakdown of APIs is inconsistent.
https://os.mbed.com/docs/v5.7/reference/network-socket.html NetworkInterface does not list mesh.

https://os.mbed.com/docs/v5.7/reference/network-socket.html, In network socket list, link for the mesh is broken.

As a general comment, I would like to point out that the current style of documentation for network techno

[2018-02-04 01:51] AnotherButler commented on #395
Because of the errors and warnings it throws, the mesh API has been excluded from the Doxygen. Because we can't link to something that isn't there, there is no link, as you saw. The core OS team controls the Doxygen exclusion. If you'd like to create a PR to fix this issue, I'm sure they'd be glad to merge it as soon as possible.

Also, much of the second half of your comment seems unnecessary. Pl

[2018-02-07 08:35] hasnainvirk commented on #395
How is that unnecessary ? I'm giving you an honest developer feedback. Which facts should I stick to ?
My intention is to pass constructive criticism. Take it or leave it.

[2018-02-07 09:45] kjbracey-arm commented on #395
IP core team (and others) are planning a work package for 5.9 to do general improvements on the networking-related stuff in the handbook.

[2018-02-07 19:01] AnotherButler commented on #395
@kjbracey-arm Because this work is planned, is it OK to close this issue?

@hasnainvirk We appreciate honest feedback but require objective statements to make changes. "Unattractive" and "dismal" are subjective. What is unattractive to one person may be attractive to another. If you can explain in objective terms what you would like fixed or, even better, put up a PR to show us how you think thing

[2018-02-09 15:49] pan- opened #405 "Make this repository searchable"
Github search engine [restrict](https://help.github.com/articles/searching-code/#considerations-for-code-search) indexation for search to a repository default branch.

This repository default branch, `master`, is empty and is not updated. All developments happen in the `new_engine` branch.

Would it be possible to make the `new_engine` branch the default branch or bring back development on master

[2018-02-09 16:03] loverdeg-ep commented on #405
Agree.
Also, is new_engine named for the new documentation generator engine?
If you are already on the new_engine would it make sense to use a different default branch?

[2018-02-09 16:06] loverdeg-ep opened #406 "Documentation standards and procedures repository"
@AnotherButler There used to be a public repository for meta-documentation of this repository.

Can it be made public again?

I believe it also documented how the "new_engine" operates which would be useful for the community to make better merge requests.

[2018-02-09 16:09] loverdeg-ep opened #407 "Enable CI/CD for Public Handbook Repository"
Any chance of this happening?

What is preventing if not?

[2018-02-09 16:11] #391 closed

[2018-02-13 17:11] loverdeg-ep opened #409 "Documentation for using vsCode exported project with GCC ARM Embedded Toolcahin on Windows"
@janjongboom
I have a customer who would prefer to use windows to host their toolchain.

The documentation for vscode debugging seems to indicate that all you'll need to do is install ARM embedded toolchain, export for vscode and everything will build. Which would probably be the case in linux.

However, I was under the impression that ARM embedded toolchain windows installer doesn't include make.

[2018-02-13 17:58] loverdeg-ep commented on #409
@janjongboom
Also out of curiosity, why export this as a make file project versus having vscode trigger an mbed-cli build?
intellisense?

[2018-02-14 04:41] janjongboom commented on #409
@loverdeg-ep We use make because exported projects don't depend on Mbed CLI. You can however easily build using CLI, just change the script in launch.json to call `mbed` (with `--profile=debug` as arguments) instead. I use that all the time.

You're correct that we miss instructions to install Make on Windows. Will add it.

[2018-02-14 04:49] janjongboom commented on #409
FIxed in https://github.com/ARMmbed/Handbook/pull/410

[2018-02-14 14:59] loverdeg-ep commented on #409
@janjongboom we are already replacing the build command, for both eclipse and vsCode exported projects, with a command to run mbed-cli and toolchain in a docker container.

Our concern was more for keeping the customer comfortable by using familiar tools.

[2018-02-14 20:43] vergil-SI opened #412 "mbed CLI for Windows download link is a code block"
The download link for mbed CLI for Windows is extremely difficult to find due to it being a code block

https://os.mbed.com/docs/v5.7/tools/installing-with-the-windows-installer.html

It took me and 2 others over 5 minutes to realize that "mbed-windows-installer v0.4.3" was a link and not a command for the CLI.

[2018-02-14 21:39] AnotherButler commented on #412
@vergil-SI Thanks for raising this issue. That's a great observation. We have removed the code formatting, so the link is now more visible. Please feel free to reopen this issue if you feel this has not been resolved.

[2018-02-14 21:39] #412 closed

[2018-02-14 21:41] AnotherButler commented on #405
@iriark01 Could you please help me look into making the `new_engine` branch the default branch?

[2018-02-14 22:01] AnotherButler commented on #406
@loverdeg-ep The only public documentation I can think of is our [contributing guidelines](https://os.mbed.com/docs/v5.7/reference/guidelines.html).

@iriark01 Can you think of any other public documentation that we have about contributing to our documentation?

[2018-02-14 22:03] AnotherButler commented on #407
@loverdeg-ep There is a [PR in progress](https://github.com/ARMmbed/Handbook/pull/246) to enable Travis validation of code snippets. Is this what you had in mind?

[2018-02-15 13:37] iriark01 commented on #406
There used to be, back when we had the MkDocs engine. But we've removed it.

[2018-02-15 13:38] iriark01 commented on #405
I made it default.

[2018-02-15 13:38] #405 closed

[2018-02-15 19:02] AnotherButler commented on #406
@loverdeg-ep We do not have any public meta-documentation at this time. Do you think it would be beneficial to add information about contributing to our documentation in addition to the information about contributing to our code base?

[2018-02-15 19:03] iriark01 commented on #406
There is a link to GitHub on the docs page but I guess it has no info - it's just a link.

[2018-02-16 15:47] loverdeg-ep commented on #407
@AnotherButler Not sure why I opened this in the first place actually.

I guess I was thinking more along the lines of giving community members the ability to generate the documentation themselves to validate any PR's they might make.

Feel free to close or ignore till I de-tangle my brain.

[2018-02-16 15:59] loverdeg-ep commented on #406
@AnotherButler @iriark01
I'm pretty sure the docs in the repository I was referring to specifically mentioned the new engine.
They also described the tone that should be used, words to avoid, and workflow for documentation releases.

It was only public for about a week.
I'll try and dig up the link form my history.

[2018-02-16 16:01] iriark01 commented on #406
That isn't public because it contains internal info.

[2018-02-16 16:24] loverdeg-ep commented on #406
Knew I should have forked or pulled while I had the chance...

@AnotherButler  Again we won't really feel comfortable making pull requests unless we understand how the engine works and what your documentation standards are.

Feel free to close.

[2018-02-16 16:26] iriark01 commented on #406
You don't have to worry about the engine - it's what we're here for.

[2018-02-16 19:02] #406 closed

[2018-02-16 19:05] #407 closed

[2018-02-22 13:55] AnotherButler commented on #409
Closing because PR #410 has merged. Please feel free to reopen if this is not resolved to your satisfaction.

[2018-02-22 13:55] #409 closed

[2018-03-05 14:38] 0xc0170 opened #429 "Workflow: describe pull request type"
Based on latest PR after we introduced PR type, I noticed that sometimes it is not clear what type a pull request belongs to. This might be due to not specifying each of these types.

Questions that I would like to answer and point to when not clear in contributions:

What is a fix or feature or refactor? When is it a breaking change?

We will send a proposal for clarification

[2018-03-15 17:00] loverdeg-ep opened #456 "nRF Master Control Panel is now called nRF Connect"
[bluetooth.md](https://github.com/ARMmbed/Handbook/blob/new_engine/docs/reference/api/connectivity/bluetooth/bluetooth.md) has a reference to nRF Master Control Panel which is now called nRF connect.

Also, I've seen similar references in mbed BLE examples elsewhere.

[2018-03-19 19:15] UDXS opened #461 "https://os.mbed.com/docs/latest/tutorials/quick-start-offline.html has a broken link for the download"

[2018-03-19 20:29] AnotherButler commented on #461
@UDXS Could you please clarify which link is broken? I can open the Windows installer link, the Python link, the CoolTerm link and the PuTTy link. Is one of those giving you trouble, or is it another?

[2018-03-19 22:40] AnotherButler commented on #456
@loverdeg-ep Great catch.

@pan- Could you please update these? Thanks so much.

[2018-03-20 14:52] AnotherButler commented on #395
Now that the code and Doxygen have been fixed, you can find the mesh API at https://os-doc-builder.test.mbed.com/docs/development/reference/mesh-api.html

[2018-03-20 14:52] #395 closed

[2018-03-20 15:19] UDXS commented on #461
It was the Windows Installer one. It gives a 404 error.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Amanda Butler <notifications@github.com>
Sent: Monday, March 19, 2018 9:29:57 PM
To: ARMmbed/Handbook
Cc: David Markarian; Mention
Subject: Re: [ARMmbed/Handbook] https://os.mbed.com/docs/latest/tutorials/quick-start-offline.

[2018-03-20 17:11] bmcdonnell-ionx opened #462 "clarify configuration"
I don't understand how to use the Mbed OS configuration system. I think the [reference documentation](https://os.mbed.com/docs/v5.7/reference/configuration.html) regarding it is unclear. If I'm missing something(s) obvious, please point me to it. Otherwise, please clarify the documentation to answer questions such as those I pose below. (Also, I'd appreciate some quick answers here, if possible.)

[2018-03-20 19:20] AnotherButler commented on #462
@bmcdonnell-ionx Thank you for raising this issue. We have more config content in our tools section: https://os.mbed.com/docs/v5.7/tools/configuring-tools.html

I think the content here can answer most of your questions. If not, @geky could you please take a look?

Also, would you find it useful if we moved all of our configuration content to the same location, instead of linking them together?

[2018-03-20 20:41] loverdeg-ep commented on #462
@bmcdonnell-ionx I've had similar problems in the past interpreting what a configuration parameter is versus a macro.

#275 and [mbedOS: #5225](https://github.com/ARMmbed/mbed-os/issues/5225) were mildly helpful in clearing this up.

It doesn't feel intuitive yet though. I'm not sure if it is the documentation or the actual config system implementation.

[2018-03-20 21:31] bmcdonnell-ionx commented on #462
@AnotherButler Thanks for the link. The answers to most of my questions are still unclear to me, though. And that was a long read to try to glean the (IMO) important bits I was looking for.

I feel like the first document I linked to isn't really telling me how to use the info it's providing, unless what I want to do happens to coincide with an example. And the second seems like how to arrange a b

[2018-03-20 21:34] bmcdonnell-ionx commented on #462
@loverdeg-ep

Thanks for your input. Glad to know I'm not the only one confused.

The configuration system generates macros, which it puts in `mbed_config.h`. I'm not sure yet if that's all it does, though.

Documentation, IMO so far.

[2018-03-20 22:20] geky commented on #462
Hi @bmcdonnell-ionx, thanks for the feedback. I think you're right we probably need at least one more document targeting users (@AnotherButler a tutorial maybe?).

Lets see if I can't help clarify with what I know:

### The library developer defines a configuration option

   A library can provide a special file name "mbed_lib.json", the details are in the [config docs](https://os.mbed.com/docs/v5

[2018-03-20 22:22] geky commented on #462
Ah, so in the case of `main-stack-size`, I believe it's currently not provided in an "mbed_lib.json", but is just expected to be created in "mbed_app.json", which isn't suggested. @bulislaw?

[2018-03-21 03:03] bmcdonnell-ionx commented on #462
@geky

I think so!

Some questions remain for me.

1. Do you mean "library" here in the generic sense of modular reusable code? As opposed to a "library" pulled in by `mbed-cli` due to a `mystuff.lib` file.

2. Where is the tool(s)/code that does this?

3. What does "emitted automatically by the toolchain" mean? Does it mean that the toolchain passes the `#defines` as command line arguments to the

[2018-03-21 06:47] geky commented on #462
Let's see what I can answer!
1. > A library can provide a special file name "mbed_lib.json"

    Yes, to your first sentence. The configuration options and .lib files are independent features.

2. > Each config option is converted to a C macro by prepending...

   Oh uh, here I think, I'm not that familiar with how it's implemented:
   https://github.com/ARMmbed/mbed-os/blob/master/tools/config/__

[2018-03-21 13:40] bmcdonnell-ionx commented on #462
@geky, thank you for quickly answering my immediate questions. I hope this also helps you in improving the documentation. 😄

About where to put the documentation, I can see how some wound up in [Configuration](https://os.mbed.com/docs/v5.7/reference/configuration.html) under [Reference](https://os.mbed.com/docs/v5.7/reference/index.html), as it has to do with writing your code; and some wound up i

[2018-03-21 14:04] loverdeg-ep commented on #462
@geky
Personally, I found it confusing that mbed_lib.json is optional.

It made it hard for me to determine what a library actually was; Seeing that some libraries had the file and others didn't. Same goes for mbed_app.json.

Could a case be made to make mbed-cli require these files?
Even if they just tracked a version number or held the name of the library.
Slippery slope but you could even use i

[2018-03-21 14:44] bridadan commented on #462
@geky Excellent clarification!

Regarding this question:

There is actually an option in Mbed CLI to do this. The command is `mbed compile --config -v`:

[code]

The `-v` option enables the help text. Removing it will provide a less verbose summary of the config options.

Regarding @loverdeg-ep's question:

This currently isn't enforced I believe to be backward compatible with Mbed 2 libraries (li

[2018-03-21 14:52] theotherjimmy commented on #462
The answer is [unfortunately] no. For 2 reasons:
 1) We don't have any way to determine where we should have an `mbed_lib.json` but don't.
 2) _Many_ libraries depend on the current behavior.

[2018-03-21 14:55] theotherjimmy commented on #462
@bmcdonnell-ionx I think your confusion comes from the fact that we don't define library. We sub-repos across hg and git, with `.lib` files, and we define a method for creating configuration that may later be overwritten.

[2018-03-21 15:15] loverdeg-ep commented on #462
@theotherjimmy I suppose what I should have meant was have mbed-cli generate mbed_lib.json by default.

Though this would require separate `mbed new library` and `mbed new application` commands.

[2018-03-21 15:17] theotherjimmy commented on #462
@loverdeg-ep I suppose that would aid in discovering the configuration system. It might be worth implementing. Certainly we could create an empty `mbed_app.json` on `mbed new`

[2018-03-21 15:22] theotherjimmy commented on #462
@geky I'm going to start an overhaul of the current documentatoin using snippets that you wrote, and trying to correct the bits that @bmcdonnell-ionx and @loverdeg-ep found confusing. Looks like most, if not all, of the examples are incorrect.

[2018-03-21 19:19] theotherjimmy commented on #462
see https://github.com/ARMmbed/Handbook/pull/463

[2018-03-21 20:22] AnotherButler commented on #461
@UDXS Could you please try that link again here: https://os.mbed.com/docs/latest/tutorials/quick-start-offline.html

I'd like to be sure that's fixed. Thanks so much.

[2018-03-22 15:33] UDXS commented on #461
@AnotherButler Sorry, but it doesn't appear to work.

[Here is a video of it not working](https://youtu.be/J4dqwj2JMPU)

Thanks!

[2018-03-26 13:11] maclobdell commented on #461
I can confirm the issue.

A link at the following page is bad:
https://os.mbed.com/docs/latest/tutorials/quick-start-offline.html

The section is:

Windows
1. Install Mbed CLI
Download and run the Mbed CLI Windows .exe installer.

The bad link is this going to:
https://github.com/ARMmbed/mbed-cli-windows-installer/releases

The reason it is bad is because it is a private repo.  not sure why it is

[2018-03-26 15:25] AnotherButler commented on #461
Does this PR adequately fix the issue? https://github.com/ARMmbed/Handbook/pull/469

[2018-03-26 15:37] UDXS commented on #461
Yes, I believe it does.
I will close this as long as that PR is accepted.
Thank you, @AnotherButler and @maclobdell

[2018-03-26 15:37] #461 closed

[2018-03-29 18:01] loverdeg-ep opened #479 "EventQueue Page Header Links"
It could be nice to have some way of navigating beyond the great wall of templates on the [eventQueue](https://os.mbed.com/docs/v5.8/reference/eventqueue.html) page.

[2018-04-05 20:10] AnotherButler commented on #380
Closing until planned usability improvements are complete

[2018-04-05 20:10] #380 closed

[2018-04-06 08:10] coisme opened #486 "Wrong page link or contents for Serial API"
When follow links in the left menu **Reference** > **APIs** > **Drivers** > **Serial**, description of Serial API is expected. However, the contents of **Reference** > **Contributing** > **Porting targets** > **Serial** is shown. This problem is on v5.8.

[2018-04-10 05:27] coisme commented on #486
No problem. Thanks!

[2018-04-11 21:24] AnotherButler commented on #380
@loverdeg-ep Our UX team says we can expect to see changes in June.

[2018-04-12 21:17] bmcdonnell-ionx opened #494 "EventQueue examples not ordered correctly"
On this page

https://os.mbed.com/docs/v5.8/reference/eventqueue.html

in the example "Shared event example: deferring from interrupt context", it says, "Like the previous example, this defers from interrupt to an event queue thread." However, that's not what either of the two preceding examples do.

I think it should immediately follow the first example, which is titled "EventQueue example: defer

[2018-04-12 21:53] bmcdonnell-ionx commented on #494
Also, it would be helpful if you could provide an example using the `EventQueue::background()` function. 😄

[2018-04-13 06:45] MarceloSalazar opened #495 "Intro to Lora (technology) needs work"
The Lora intro docs has been moved to the Technology section
https://github.com/ARMmbed/Handbook/blob/new_engine/docs/reference/technology/connectivity/intro-to-lora.md

This is great. However, there are parts of the docs that should be moved to Tutorial section, as provide step-by-step instructions on how to do things.

[2018-04-13 22:04] AnotherButler commented on #494
@bmcdonnell-ionx Thanks for raising this issue. We'll take care of this at once.

@SenRamakri @kegilbert I can move the example up to remove the confusion in the first comment. Could one of you or someone on your team please create an example using the `EventQueue:background()` function? I can create a ticket if you like.

[2018-04-19 20:28] bmcdonnell-ionx opened #499 "document which classes use dynamic memory"
### Request

Document which classes/functions use dynamic memory.

### Motivation

Developers often avoid or minimize use of dynamic memory in embedded system, to avoid memory fragmentation or overflow, to aid in determinism, etc. Also, an easy way to manage external memory is to make all dynamic allocations go there, and to have all static/stack allocations go to internal memory.

Developers shou

[2018-04-20 02:05] bmcdonnell-ionx commented on #499
The thing which prompted this issue report was me thinking that `mbed::Callback` was using dynamic memory, but it seems I was mistaken about that, as it's using [placement `new`](http://en.cppreference.com/w/cpp/language/new#Placement_new).

This would probably still be good to document, though.

[2018-04-20 15:10] AnotherButler commented on #499
@bmcdonnell-ionx Thanks for raising this request. We'll add it to our list of planned content.

[2018-04-20 15:11] AnotherButler commented on #499
@SenRamakri Shall I create this task and assign it to you for now, or is there someone well-suited to create this content at this time?

[2018-04-30 16:12] #429 closed

[2018-05-01 20:16] AnotherButler commented on #494
@bmcdonnell-ionx Thanks again for raising this issue.

We have moved the example up to prevent further confusion. We've also created an internal ticket to ensure completion of an example using `EventQueue:background()`.

[2018-05-03 12:09] 0xc0170 commented on #335
I believe it should and  this shall be closed. reopened if there is still a problem

[2018-05-03 14:13] #335 closed

[2018-05-04 19:02] loverdeg-ep opened #511 "Dead Link on Docs › Reference › Guidelines › Workflow"
https://os.mbed.com/docs/v5.8/reference/workflow.html
https://os.mbed.com/docs/v5.8/reference/how-we-release-arm-mbed-os.html <- dead

![image](https://user-images.githubusercontent.com/24318071/39647170-d914dd22-4fab-11e8-8f3c-8a3f67ceacd1.png)

[2018-05-04 19:15] AnotherButler commented on #511
@loverdeg-ep Great catch. Thanks. I've fixed this now.

[2018-05-04 19:15] #511 closed

[2018-05-25 18:01] AnotherButler opened #529 "Example in BufferedBlockDevice needs to be in teams"
The example on this page is hardcoded: https://github.com/ARMmbed/Handbook/blob/new_engine/docs/reference/api/storage/BufferedBlockDevice.md

Please add it to the teams repo, so we can transclude it from there with full rendering capabilities.

[2018-05-25 18:19] AnotherButler opened #530 "Example in FlashSimBlockDevice needs to be in teams"
The example on this page is hardcoded: https://github.com/ARMmbed/Handbook/blob/new_engine/docs/reference/api/storage/FlashSimBlockDevice.md

Please add it to the teams repo, so we can transclude it from there with full rendering capabilities.

[2018-05-25 22:01] AnotherButler opened #534 "Example in DeviceKey needs to be in teams"
The example on this page is hardcoded: https://github.com/ARMmbed/Handbook/blob/new_engine/docs/reference/api/drivers/Devicekey.md

Please add it to the teams repo, so we can transclude it from there with full rendering capabilities.

[2018-05-27 14:59] deepikabhavnani opened #535 "Rename LOWPOWERTIMER to LPTICKER"
This flag changed name in Mbed OS, as part of ARMmbed/mbed-os#7009. Docs should be changed accordingly

[2018-05-30 11:49] MarceloSalazar opened #544 "EMAC Porting section & enhancements"
Things to do:

- EMAC tests: this is an important document and should be part of the porting guide docs in the Handbook
https://github.com/ARMmbed/mbed-os/tree/master/TESTS/network/emac

Probably a sub-section under this doc:
https://os-doc-builder.test.mbed.com/docs/development/reference/ethernet-port.html

- Remove reference to Arm Mbed Client example - this will be deprecated soon
Instead, we'l

[2018-05-30 12:15] SeppoTakalo commented on #544
I disagree.
Testcases are not documented in Handbook. EMAC is not an exception.

Bulk of our testcases are not documented at all. Testcases live in Mbed OS repository and are under constant maintenance. So if we would modify test case, we would be forced to change our Handbook.

We should be able to fix and create new test cases without touching documentation. So only requirement can be the instru

[2018-05-30 12:58] MarceloSalazar commented on #544
My suggestion is on the possibility to automatically bring the *content* from Readme.md to the docs in the web.

There is really good information and I'm a bit concerned might be forgotten - I didn't realize about this content until someone shared a specific link with me.

It shouldn't make a difference to the engineers working on this. It's probably a task for the docs/web teams integrating the d

[2018-05-30 21:35] jflynn129 opened #546 "on-line compiler question"
Sorry if this isn't the correct place to post this, but I couldn't find a better location.
I have a program that I want to be compiled from either the CLI or the on-line compiler (via mbed.com).  But some of the code that is pulled in by the CLI tools (GCC_ARM) isn't available when using the on-line compiler, so I was looking for a define that indicates that the compiler being used is uniquely the

[2018-05-31 02:13] theotherjimmy commented on #546
@jflynn129 We don't have such a define. Note that the online compiler uses Arm Compiler 5.06 u3, and if you're using GCC 6.whatever you're going to pull in different hal/cmsis implementations. These are in directories that are named `TARGET_ARM` for ARMC5 and `TARGET_GCC_ARM` for GCC. If you point me towards a particular project and it's public, I can provide you with help on the particular proble

[2018-05-31 12:00] jflynn129 commented on #546
I agree with you design note, but couldn't fix it any other way.  I added a macro **ONLINE_COMPILER** to my mbed_app.json file, and put the following in my code:
[code]

as these includes are apparently no contained within the Arm Compiler 5.06 toolchain. Perhaps this is a legit difference between ARMC5 and GCC_ARM?

[2018-05-31 12:28] MarceloSalazar opened #550 "Minor issues on Cellular arch doc"
Having reviewed the cellular architecture documentation:
https://os-doc-builder.test.mbed.com/docs/development/reference/cellular.html

Find here some feedback:

This is not relevant and not true.
Depends on customer requirements for their projects.
We shouldn't mix topics - can we please rephase/remove?

What does it mean?
Does it work regardless of which operator you have in your area?
Is it exp

[2018-05-31 12:35] MarkJWade commented on #550
You may want to review other parts of this doc as well.

I think the correct term for these cellular modules would be "Hosted Modules", which distinguishes them from the "Hostless Modules" or "Self-Hosted Modules" which the Modules Programme are focusing on.

[2018-05-31 16:19] theotherjimmy commented on #546
@jflynn129 adding the macro to `mbed_app.json` add it both online and offline. So that's not a great way to distinguish.

@bulislaw Do we have a time API for something like this?

[2018-05-31 16:42] jflynn129 commented on #546
yes, I have to remove the macro when working with the mbed cli

[2018-05-31 20:10] MarceloSalazar opened #551 "Minor issues/questions on Lora arch doc"
Re: Lora Arch documentation:
https://os-doc-builder.test.mbed.com/docs/development/reference/lora-tech.html

The title should be aligned with other names in the same section.
We should remove 'Mbed' and use just 'LoRaWAN'.
Example: 6LoWPAN.

Can we add a link:
https://github.com/ARMmbed/mbed-semtech-lora-rf-drivers

Link broken:
https://os-doc-builder.test.mbed.com/docs/development/reference/loraw

[2018-06-01 07:57] MarceloSalazar opened #552 "memory_tests: fix compiler warnings"
As per discussion in https://github.com/ARMmbed/mbed-cloud-client-example-internal/pull/468

The recommended way to use memory tracing should be tweaked to remove warnings.

https://github.com/ARMmbed/Handbook/blob/new_engine/docs/tutorials/optimize/memory/runtime_mem_trace.md

@AnotherButler @mbartling can you have a lool and maybe involve someone else?

[2018-06-01 10:59] MarceloSalazar opened #553 "Mbed statistics examples shown in document"
Reviewed Mbed statistics section in PR (in the meantime it shows up in docs)
https://github.com/deepikabhavnani/Handbook/blob/2324689b7a5f20fa494995178e3fd787b5f86b57/docs/reference/api/platform/MbedStats.md

The document is looking good. Just a question on examples shown in the document.

The examples listed at the bottom seem to be Mbed 2 and hardcoded to specific versions:

https://os.mbed.com/

[2018-06-01 11:03] adbridge commented on #553
@MarceloSalazar As previously discussed we do not update examples in the teams directory. This is the responsibility of Zach Shelby's team, please see email chain I just forwarded to you.

[2018-06-01 14:36] MarceloSalazar commented on #553
@adbridge as per @ashok-rao comments today:

This would be great as accelerates the integration of this document with the official Handbook, and reduces the maintenance effort for the future.

@AnotherButler what do you think?

[2018-06-01 14:39] AnotherButler commented on #553
We don't like hardcoded code snippets in our documentation. They're difficult to update, and they lack the functionality of code in teams. We want users to be able to click the **Import to Compiler** button and be able to import any of our examples into the Arm Mbed Online Compiler. They can't do that with hardcoded snippets.

[2018-06-01 14:49] adbridge commented on #553
@AnotherButler  I disagree with this. For very small snippets of code that are pointless as examples then being an embedded part of the documentation is the right solution AFAIAC. Keeping the example snippet in the code up to date is no different to keeping the actual doc itself up to date....

[2018-06-01 15:00] AnotherButler commented on #553
I'm fine with hardcoding a few lines of code, but three of these examples have 60. That's a full example, and I'd like to keep our full example functionality.

As a temporary solution for 5.9, we can hardcode these, but if we do that, we need to discuss how we'll handle examples in the future.

[2018-06-01 15:05] MarceloSalazar commented on #553
I think we can easily have max 3 or 4 lines of code to show the usage of the corresponding APIs.

@deepikabhavnani is this something you can do?

[2018-06-01 15:06] deepikabhavnani commented on #553
@MarceloSalazar @adbridge
Examples are already available in git repo, as per @ashok-rao that was needed for OOB testing as well.
We need to mirror them at https://os.mbed.com/teams/mbed-os-examples/

[2018-06-01 15:12] deepikabhavnani commented on #553
Sorry @MarceloSalazar we are constantly creating examples and replacing them with existing snippets. So this will not be acceptable solution.

None of my examples are Mbed OS 2, all of them link to last release of Mbed OS 5, which is limitation of online tools hence kept private.

I will remove old examples from "mbed-os-examples", if GIT examples are mirrored, if not done on time then I can updat

[2018-06-01 16:01] adbridge commented on #553
@deepikabhavnani You need to ask @screamerbg to add your examples to his mirroring script.

[2018-06-01 17:19] bulislaw commented on #546
Differences between GCC and ARM sound like a bug, there should be no differences from user point of view. @jflynn129 could you share more details about what are you seeing?

[2018-06-01 17:46] jflynn129 commented on #546
when compiling with the ARM compiler:
**Error: Cannot open source input file "sys/time.h"**: No such file or directory in "platform/common/timer_platform.h", Line: 36, Col: 23
but no problem with GCC_ARM using CLI.  Was fixed with the conditional compiler mentioned above.

Can be reproduced by importing into the on-line compiler from:
https://github.com/Avnet/aws-iot-device-sdk-mbed-c
remove the O

[2018-06-01 19:34] theotherjimmy commented on #546
@bulislaw Aside from code size and speed of course.

----------

@jflynn129 Yes the online compiler understands `.mbedignores`. It uses the same code to compile as Mbed CLI.

[2018-06-01 19:41] jflynn129 commented on #546
@theotherjimmy how do you find and edit it with the on-line compiler?  It seems to be hidden and un-editable.

[2018-06-01 19:42] theotherjimmy commented on #546
That's a really good question. @thegecko ?

[2018-06-01 21:00] thegecko commented on #546
Correct, you can only create files with known extensions. A *very* hacky way around this is that you can drag and drop files from your desktop into your program. However, as it's an unknown file type, you can't edit it nor replace it, so it would be a one-shot process.

@theotherjimmy Would you mind raising an IOTTOO issue and we'll look into adding .mbedignore support to the online compiler.

[2018-06-03 09:46] chuanga opened #558 "Mbed statistics page: cannot access examples"
Reviewed MbedStats.md page (https://github.com/deepikabhavnani/Handbook/blob/2324689b7a5f20fa494995178e3fd787b5f86b57/docs/reference/api/platform/MbedStats.md) as part of Mbed 5.9 OOB

Showing "Access Denied" Error when I clicked on the bottom 4 examples (Thread statistics, System Info, CPU statistics, CPU usage).

[2018-06-03 14:15] chuanga opened #559 "Bootloader tutorial should explain application header"
Review bootloader.md page (https://github.com/ARMmbed/Handbook/blob/5.8/docs/tutorials/bootloader.md) as part of mbed-os-5.9). Cannot access master branch; so look at 5.8 branch instead.

Document should explain fields of application header or have a link to relevant document if available.

[2018-06-04 14:01] iriark01 commented on #546
Hi all,

Can I close this issue now? Looks like @theotherjimmy created a Jira ticket for it.

[2018-06-04 14:04] jflynn129 commented on #546
Ok by me. Would like to know when it will be possible to edit the mbedignore file though.

[2018-06-04 14:04] iriark01 commented on #558
Handled with #553

[2018-06-04 14:04] #558 closed

[2018-06-04 14:08] AnotherButler commented on #559
You should be reviewing 5.9 documents on our staging site, which requires being on the network. Please see this page: https://os-doc-builder.test.mbed.com/docs/development/tutorials/bootloader.html

[2018-06-04 14:12] AnotherButler commented on #559
To raise a PR against the correct branch, please use the new_engine branch. This goes to our staging site. We do not work on master.

[2018-06-04 14:44] theotherjimmy commented on #546
@iriark01 Let's keep this open until @jflynn129 Is satisfied that it has been fixed.

[2018-06-04 14:46] iriark01 commented on #546
Can you maybe move it to the relevant tool's repo? This isn't a good place to keep track of it.

[2018-06-04 14:56] theotherjimmy commented on #546
We can move it to Mbed OS. That tools repo is not public.

[2018-06-04 20:27] maclobdell opened #566 "Bootloader tutorial would benefit from more specific step by step instructions"
The Tutorial at https://github.com/ARMmbed/Handbook/blob/new_engine/docs/tutorials/bootloader.md, doesn't flow like a true tutorial.  It is more like an overview of each important topic.  If someone is actually trying to walk through this document, they will need to understand many steps that are missing.

Most of the information is available at the README in this repo:  https://github.com/ARMmbed

[2018-06-05 14:57] adbridge commented on #553
@SenRamakri Have we reached a conclusion about what we need to do here for the release?

[2018-06-05 17:07] AnotherButler commented on #551
PR up: https://github.com/ARMmbed/Handbook/pull/572

@hasnainvirk Could you please respond to the questions about how LoRa radios outside of Mbed OS relate and about the difference with the PHY layer? If it's easier, feel free to respond in the comments here, and I can add your response to the document.

[2018-06-05 21:12] maclobdell commented on #566
After reviewing this with Russ, I think it is fine to just highlight more prominently the link to the bootloader application.

[2018-06-05 21:48] c1728p9 commented on #566
@maclobdell I created #575 to make the link more prominent and remove old content.

[2018-06-05 22:24] AnotherButler opened #576 "Example in BlockDevice needs to be in teams"
The example in the BlockDevice user API is hardcoded into the doc, but it should be in teams: https://github.com/ARMmbed/Handbook/blob/new_engine/docs/reference/api/storage/BlockDevice.md

This should not block anything, but we should move this as soon as possible.

[2018-06-06 05:40] SenRamakri commented on #553
@adbridge - The examples are now available in mbed-os-examples.

[2018-06-06 07:31] hasnainvirk commented on #551
@AnotherButler @MarceloSalazar Sorry for he late reply. Really preoccupied with stuff at hand. LoRaRadio and LoRaPHY having no connection whatsoever in hierarchical terms. LoRaPHY is the network stack layer that controls the LoRaRadio using hooks provided by the LoRaRadio.

[2018-06-06 17:48] AnotherButler commented on #553
Is it OK to close this issue?

[2018-06-06 18:18] AnotherButler commented on #559
We exposed the link to relevant documentation. Is it OK to close this issue?

[2018-06-07 18:52] adbridge commented on #553
@MarceloSalazar Are you happy to close this now ?

[2018-06-07 19:00] adbridge commented on #566
@maclobdell Please confirm you are happy with the changes and close this if so.

[2018-06-07 21:42] #553 closed

[2018-06-08 10:26] MarceloSalazar opened #580 "Minor issues on Error Handling"
The Error Handling doc is really good :)

Find here feedback on minor issues that would be nice to improve.

The doc is referring to these functions many times, and I couldn't find the answer in this doc.
As a user, I'd like to understand the differences early. Few suggestions.
- Add "see API (link TBA) for more information"
- Optionally add: MBED_ERROR takes status and message. MBED_ERROR1 takes

[2018-06-08 11:10] MarceloSalazar opened #581 "Update link to Mbed CLI Windows installer"
Doc: https://github.com/ARMmbed/Handbook/blob/new_engine/docs/tutorials/quickstart/quick-start-cli.md

--> Download and run the [Mbed CLI Windows .exe installer]

Should have a new link to *mbed-media.mbed.com ... (TBC) * and indicate which version is available (latest right now is 0.4.7 corresponding to Mbed CLI 1.7.1)

Also a reminder on pending task to open this repo: https://github.com/ARMmbed

[2018-06-08 11:15] ashok-rao opened #582 "[OoB_5.9]: Error handling docs needs few clarifications."
Overall very good information in the docs. Good job @SenRamakri

However, a number of clarifications needed as part of this issue. @AnotherButler or @SenRamakri could you please check?

From the handbook: https://os-doc-builder.test.mbed.com/docs/development/reference/error-handling.html

1 . the line: "extract information from error status values and to generate fatal system errors that terminate

[2018-06-08 11:40] MarceloSalazar commented on #559
Closing. @chuanga please reopen if you see an issue.

[2018-06-08 11:40] #559 closed

[2018-06-08 11:48] MarceloSalazar commented on #551
@SeppoTakalo as we talked this week, would you be able to help to expand @hasnainvirk 's comments on LoRaPHY vs LoRaRadio and send a PR?
This is useful to people (like me) that don't understand the subtle differences in Lora low-level drivers.
Note, this can happen after 5.9 and it would really help, thanks!

[2018-06-08 11:54] MarceloSalazar commented on #544
Internal reference: IOTDOCS-513

[2018-06-08 17:39] maclobdell commented on #566
LGTM.  Thanks!

[2018-06-08 17:39] #566 closed

[2018-06-08 17:39] AnotherButler commented on #581
@arekzaluski What's the most recent link I should use?

[2018-06-08 19:56] SenRamakri commented on #580
PR created with fixes - https://github.com/ARMmbed/Handbook/pull/586

[2018-06-08 19:56] SenRamakri commented on #582
PR created with fixes - https://github.com/ARMmbed/Handbook/pull/586

[2018-06-11 12:21] AriParkkila commented on #550
Please see fixes in https://github.com/ARMmbed/Handbook/pull/588

[2018-06-11 14:18] AnotherButler commented on #582
Closing this as resolved because #586 merged. Please feel free to reopen if you feel this is not resolved.

[2018-06-11 14:18] #582 closed

[2018-06-11 14:19] AnotherButler commented on #580
Closing because PR #586 merged. Please feel free to reopen if you do not feel this is resolved.

[2018-06-11 14:19] #580 closed

[2018-06-11 15:22] AnotherButler commented on #550
Closing because both PRs merged; please feel free to reopen if you feel this is not resolved

[2018-06-11 15:22] #550 closed

[2018-06-13 14:01] MarceloSalazar commented on #581
@arekzaluski  can you please comment?

[2018-06-13 14:11] arekzaluski commented on #581
@AnotherButler @MarceloSalazar @ashok-rao The latest link to installer is available here:
https://mbed-media.mbed.com/filer_public/00/c2/00c2bc59-21c5-4ea2-9916-f9c38e5b2aec/mbed_installer_v047.exe

It should be updated only if it finishes successfully OOB testing. @MarceloSalazar @ashok-rao any news about it?

[2018-06-13 14:13] MarceloSalazar commented on #581
OOB with latest CLI installer has finished successfully - please update the link.

[2018-06-13 19:01] bmcdonnell-ionx opened #590 "5.9 Threads page"
The [picture showing `osPriority` values](https://s3-us-west-2.amazonaws.com/mbed-os-docs-images/thread_priority.png) on the [`Thread` reference page](https://os.mbed.com/docs/v5.9/reference/thread.html) includes a comment saying that the values must not change. However, current code doesn't have this comment, and values have changed in RTX5.

Page should be updated to remove that inaccurate comme

[2018-06-13 19:07] AnotherButler commented on #590
@bmcdonnell-ionx Thanks for raising this issue. We'll address this.

[2018-06-15 21:33] AnotherButler commented on #456
@loverdeg-ep Have these changes addressed this issue?

[2018-06-15 21:33] AnotherButler commented on #479
@geky What's the status of this?

[2018-06-15 21:38] AnotherButler commented on #495
Closing because we moved the step-by-step guidance sections to the tutorials book, as requested: https://os.mbed.com/docs/v5.9/tutorials/LoRa-tutorial.html

Thanks again for raising this. 👍

Please feel free to reopen this if you feel it has not been fully resolved.

[2018-06-15 21:38] #495 closed

[2018-06-15 21:41] AnotherButler commented on #552
@SenRamakri Could you please suggest an engineer who could help with this?

[2018-06-18 10:58] MarceloSalazar commented on #581
@AnotherButler thanks for the fix.

I found out this page still points to an old Mbed CLI installer.
https://os.mbed.com/docs/v5.9/tools/installing-with-the-windows-installer.html

Can we please update the link asap? People out there will need the latest link. Thanks!

[2018-06-18 18:22] AnotherButler commented on #581
This change has now gone live. Please feel free to reopen if you feel it has not been fully resolved.

[2018-06-18 18:22] #581 closed

[2018-06-18 19:25] jflynn129 opened #595 "location & name of toolchain json file"
QUESTION: I'm looking at and trying to determine:
1. does the 'toolchain profile json' file (https://github.com/ARMmbed/mbed-os-5-docs/blob/new_engine/docs/tools/offline/toolchain_profiles.md) need any special name to be recognized?
2. Does it need to be any special location (./profiles for example)
3. Any available samples (with blinky for example) that show it usage?

I tried adding it to my mbe

[2018-06-18 20:00] jflynn129 commented on #595
found it, never mind...

[2018-06-18 20:00] #595 closed

[2018-06-18 20:01] AnotherButler commented on #595
@jflynn129

If you have any further questions, please don't hesitate to ask.

[2018-06-19 03:57] janjongboom opened #597 "Migrating 2 => 5 is missing Online Compiler instructions"
https://os.mbed.com/docs/v5.8/tutorials/migrating.html should have a section for the Online Compiler too. It's even a lot easier on the Online Compiler.

[2018-06-19 04:00] janjongboom commented on #597
F.e. this could be the instructions (but it needs a screenshot):

In the Online Compiler you do:

1. Right click on `mbed`, select *Delete...*.
1. Right click on your project, select *Import Library > From URL*.
1. Enter `https://github.com/armmbed/mbed-os`.

And done, now the application is updated to latest version of Mbed OS. Hope this helps.

[2018-06-19 08:43] HarishkumarBringiramakannu commented on #597
Hi @janjongboom ,
Thankyou for your link. It was very helpful. But now I am struck with this error "Error: Library name 'platform' is not unique (defined in '/tmp/chroots/ch-2619ff6b-a6f9-4624-81ff-1ac9c3c14ea0/extras/mbed/TARGET_DISCO_L072CZ_LRWAN1/mbed_lib.json' and '/tmp/chroots/ch-2619ff6b-a6f9-4624-81ff-1ac9c3c14ea0/src/mbed-os/platform/mbed_lib.json')"

when I was searching in internet, many

[2018-06-19 13:21] jflynn129 opened #598 "Question: specification for build output file name"
Is there a macro or some method of naming the output file name that is generated when a build occurs from mbed compile?  For example, if I my project is in a directory named "test" but I want the executable to be named "my_first_test" is there a way to specify the name via the --output in the linker step? currently it looks like it always takes the name of the current project directory and uses it

[2018-06-19 13:32] jflynn129 commented on #598
sorry, again after digging/googling I was able to find the answer to this question.  it doesn't appear to be in the official documentation though...

[2018-06-19 13:32] #598 closed

[2018-06-19 14:23] AnotherButler commented on #598
@theotherjimmy Could you please help me add this to the official documentation?

[2018-06-19 14:47] theotherjimmy commented on #598
@AnotherButler It is in the official documentation. Maybe we need another link to it. It's the `artifact_name` section of `mbed_app.json`.
https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/reference/configuration/configuration.md#mbed_appjson-specification

[2018-06-19 15:18] jflynn129 commented on #598
IMO, artifact_name doesn't have the same connotation or definition as "executable_name" so it took me a while (and a lot of googling) to figure out that "executable_name" was "artifact_name" in mbed'speak. there is also no obvious example of its use--you should add it into the code spinet below that table.

it sure would be helpful to have a glossary or document that listed all the optional/possib

[2018-06-19 15:50] theotherjimmy commented on #598
I can add it to the example.

@jflynn129 I think I just liked exactly this:

Looking upward, what you're asking for is a combination of what I linked and `mbed compile --config ...`

[2018-06-19 15:50] theotherjimmy commented on #598
https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/reference/configuration/configuration.md#examining-available-configuration-parameters

[2018-06-20 14:20] deepikabhavnani opened #601 "Add description of "detect_code" field"
detect_code field (part of targets.json) description is missing at https://docs.mbed.com/docs/mbed-os-api/en/latest/api/md_docs_mbed_targets.html

[2018-06-20 15:18] theotherjimmy commented on #598
@jflynn129 Where else would you expect to find this information regarding renaming your executable?

[2018-06-21 09:45] 0xc0170 opened #604 "mbed-os documentation: expand all sections + download in pdf"
### Description

@AnotherButler Moved from https://github.com/ARMmbed/mbed-os/issues/7236

The mbed-os documentation here https://os.mbed.com/docs/latest/introduction/index.html is very nice but it is not easy to read or find information. It would be very useful to have these 2 features:

- be able to expand all the sections in order to see all titles at once
- be able to download the entire docum

[2018-06-21 12:13] jflynn129 commented on #598
Where it is at is fine but I would provide more explanation that a sentence fragment in a table. I would also add the elements of the table to the code sample below the table to reinforce the explanation.

Sent from my iPhone

[2018-06-21 16:29] AnotherButler commented on #604
@mariannecrowder @iriark01 Could y'all please add this feedback to the other UX feedback you've collected?

[2018-06-24 12:37] cederom opened #607 "documentation version switch + "current" documentation"
Hello world :-)

Sometimes I am finding a reference to something in MbedOS from Google or external site.. then it could show some older version of documentation.. when switching the version to a current one the URL is rewritten always to the documentation main page instead just rewrite the version number of the currently watched site..

For instance when I read about BLE in `v5.6` and want to swit

[2018-06-24 12:38] cederom commented on #604
+1 here :-) I would also like / prefer that way of Handbooking :-)

[2018-06-25 07:04] iriark01 commented on #604
This is a duplicate of work already on the web team's backlog.

On 24 Jun 2018 13:38, Tomasz CEDRO <notifications@github.com> wrote:

+1 here :-) I would also like / prefer that way of Handbooking :-)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ARMmbed/mbed-os-5-docs/issues/604#issuecomment-399753735>, or mute the thread<

[2018-06-25 20:29] AnotherButler commented on #607
I will pass this request to our web team.

Please note that because of content changes and reorganizations, there is not always a 1:1 mapping of content from one version to another.

You can replace "v5.9" with "latest" in your URL to stay on the most recent version of published documentation.

[2018-06-25 21:06] cederom commented on #607
Thank you @AnotherButler :-)

"latest" works fine and I think it would be good solution to prevent outdated links :-)

Very nice big banner is showed on top of very old documentation that is also referenced on the web :-)

The problem is still switching between versions that redirects to a main documentation page instead currently read article but for another version :-)

Have a nice day and send

[2018-06-27 00:54] AnotherButler commented on #597
@elm3 Is there any way we could get content help with this from @yennster (who wrote the original document) or someone else from your team?

[2018-06-27 00:56] AnotherButler commented on #601
@SenRamakri This looks like a code fix. Could someone from your team please help with this?

[2018-06-27 14:06] iriark01 commented on #604
Closing as duplicate to existing work (already planned)

[2018-06-27 14:06] #604 closed

[2018-06-27 18:08] yennster commented on #597
@AnotherButler @janjongboom Fixed here: https://github.com/ARMmbed/mbed-os-5-docs/pull/609

[2018-06-28 09:39] masoudr opened #611 "Configure debugger with VSCode"
Hi,
I'm trying to configure debugger using Openocd 0.10.0 with VSCode from [this reference](https://os.mbed.com/docs/v5.8/tutorials/visual-studio-code.html) on Windows 10. I'm using `STLink` with an `STM32F407VE` custom board. I can run `Openocd` and `arm-none-eabi-gdb` manually with the exact configuration without any problem but on VS Code it seems that there are problems in configuration and th

[2018-06-28 16:06] AnotherButler commented on #611
@elm3 Is this something that someone from your team could help with?

[2018-06-28 17:52] masoudr commented on #611
The error seems that it has some breakpoints I tried to put a breakpoint before the exception line and somehow it didn't throw the exception. I'm not sure if it is a bug or something with VS code.

[2018-06-29 20:17] loverdeg-ep commented on #456
@AnotherButler I'm no longer seeing any references to "nRF Master Control Panel" in the documentation.

I do see references in many of the BLE example readmes but those are outside the scope of this remote.

[2018-06-29 20:17] #456 closed

[2018-07-02 15:05] #535 closed

[2018-07-02 20:09] yennster commented on #611
@masoudr Do you still have an issue?

[2018-07-02 20:40] masoudr commented on #611
@yennster yes I have. I just put a breakpoint in the last line of code but obviously this is not a fix. I've tested current tools (I mean both openocd an gdb) on other frameworks like `platformio` with the exact configuration without any problem. I think there is something wrong with the `vs code` configuration or the elf file generated by current mbed-os.

[2018-07-03 14:49] yennster commented on #611
@masoudr Okay, thanks for the clarification. I'll try to reproduce the issue on my end. 👍

[2018-07-03 14:56] yennster opened #620 "[Request] Document explaining Mbed OS priorities"
I'm not sure if this already exists, but I am looking for a doc/tutorial that explains how Mbed OS sets priority to Interrupts, Threads, etc. So far I can only find documentation regarding these topics on the forums, so I think having an official doc would be useful. Here's some community examples of information I would like to see in this doc (I'm not sure of the accuracy of the following documen

[2018-07-04 07:12] 0xc0170 opened #621 "mbed cli - first time user feedback"
https://os.mbed.com/forum/helloworld/topic/32269/?page=1#comment-58355 - few questions and how they found answers.

@AnotherButler @ARMmbed/mbed-os-tools Please review

[2018-07-05 14:59] deepikabhavnani commented on #601
@AnotherButler - This does not look like code issue.

Document should have brief description of elements described in below section

[code]

Some elements from this section are skipped like `OUTPUT_EXT` `detect_code` and `is_disk_virtual`

[2018-07-09 02:01] #597 closed

[2018-07-10 15:45] theotherjimmy opened #623 "Design guide include "structure" of mbed-os that does not match reality"
https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/reference/contributing/guidelines/design_guidelines.md#organization Contains a "structure" that includes things like "net", which don't exist in the mbed-os tree.

[2018-07-10 20:30] AnotherButler commented on #607
@cederom I've forwarded your feedback. Also, the teams says hi. Everyone hopes you're doing well :)

[2018-07-10 20:30] #607 closed

[2018-07-10 20:38] AnotherButler commented on #620
In our published documentation, we have: https://os.mbed.com/docs/v5.9/tutorials/application-flow-control.html
And: https://os.mbed.com/docs/v5.9/tutorials/the-eventqueue-api.html#prioritization

We also have this document, which is currently being updated, so it's not live: https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/reference/api/thread_safety.md

Are any of those what you're

[2018-07-16 15:31] yennster commented on #611
@masoudr I am unable to reproduce the issue. Can you provide more information on how you are exporting to VSCode? Have you made your own custom target within the Mbed OS library? Are you using the online compiler or the Mbed CLI?

[2018-07-16 18:06] masoudr commented on #611
I'm using the exact steps for import the mbed-blinky project with `mbed-cli` then I just added the mbed-os 5 support for `seeed-arch-max` board (It has the exact chip `STM32F407VET6`) in `targets.json` file by adding "5" to `release_versions`:
[code]
Afterwards I export the project:
`mbed export -i vscode_gcc_arm -m ARCH_MAX --profile mbed-os/tools/profiles/debug.json`
After that I open folder by

[2018-07-20 16:04] AnotherButler commented on #621
Internal ref. IOTDOCS-608

[2018-07-24 19:39] deepikabhavnani opened #637 "Porting Guide - Add more info"
https://os.mbed.com/docs/v5.9/reference/porting-targets.html
Above link for porting targets should contain information related to porting linker/startup files for all three toolchains (specific to target) and CMSIS related files (header / startup)

[2018-07-24 19:39] AnotherButler opened #638 "Documentation doesn't state whether FATFileSystem is thread-safe"
As requested on [the forum]((https://os.mbed.com/forum/mbed/topic/32521/)), please add the following content to the FATFileSystem user documentation:

When using FATFileSystem on an SD card (via sd-driver), is it thread-safe?

Answer: Yes, the FATFileSystem is thread safe. However, the synchronization is actually implemented in the C++ layer: https://github.com/ARMmbed/mbed-os/blob/master/features

[2018-07-25 21:56] bmcdonnell-ionx commented on #638
I was the OP of the [forum question](https://os.mbed.com/forum/mbed/topic/32521/).

If `FATFileSystem`'s thread safety is media-independent, please document as such. Maybe don't even mention `sd-driver`/`SDBlockDevice`.

[2018-07-26 20:59] yennster commented on #611
@masoudr Are you using a USB hub to connect your board to the computer? And if you are is it a powered USB hub or passive?

[2018-07-27 04:41] masoudr commented on #611
@yennester No, my board uses a separate power supply and the ST-Link connected directly to my PC.

[2018-07-27 19:12] AnotherButler commented on #479
@loverdeg-ep I wanted to update you to let you know that this work is still in progress. We hope to complete it as soon as possible.

[2018-07-31 16:39] kegilbert commented on #499
Did a quick run through, seeing the following modules using dynamic memory:

- EventQueue
- Platform
    - MbedStats (Not enabled by default)
- Features Module [Contained by far the majority of malloc calls]
    - Cellular
        - SMS
        - Network
    - LWIPStack
    - BLE
    - Frameworks
        - mbed-coap
    - Filesystems
        - ChanFS
        - FATFS
        - LittleFS
     - Nanos

[2018-07-31 17:44] geky commented on #499
It's probably a better idea to start with the classes we know _doesn't_ use dynamic memory. Nearly every class uses dynamic memory in some form, unless it's related to IRQ safety (Callbacks, Events, RTOS classes). Though removing malloc usage would be an interesting thing to prioritize (@SenRamakri?).

Also note, a lot of classes default to dynamic memory, but can use statically allocated buffers

[2018-08-03 18:42] kegilbert commented on #601
@AnotherButler @deepikabhavnani Can we close this? As Jimmy pointed out the linked doc is out of date, completely missed the URL sorry about that.

https://os.mbed.com/docs/v5.9/tools/adding-and-configuring-targets.html should have the missing info.

[2018-08-03 18:48] deepikabhavnani commented on #601
@kegilbert - New document covers OUTPUT_EXT , but nothing about 'detect_code and is_disk_virtual'

We should have atleast a statement explaining what those config options are for.

'''
Modules and Boards may have the following keys:
supported_form_factors.
is_disk_virtual.
detect_code.
extra_labels.
public.
config.
overrides.
forced_reset_timeout.
''''

[2018-08-07 19:33] AnotherButler commented on #637
@deepikabhavnani It looks like we do have content about linker scripts, after all: https://os.mbed.com/docs/v5.9/reference/bootstrap.html

Does the content on this page fill the gaps, or should we still add some?

[2018-08-08 15:30] deepikabhavnani commented on #637
Yes the content fills the gap.

[2018-08-08 15:30] #637 closed

[2018-08-09 21:16] AnotherButler commented on #499
ping @c1728p9 @pan- @kjbracey-arm

[2018-08-20 16:40] AnotherButler commented on #479
PR up: https://github.com/ARMmbed/mbed-os/pull/7810

[2018-08-21 08:37] AnttiKauppila commented on #551
@MarceloSalazar Can we close this or is there some additional data needed?

[2018-08-21 08:59] MarceloSalazar commented on #551
Hi @AnttiKauppila , there is only one minor item pending: https://github.com/ARMmbed/mbed-os-5-docs/issues/551#issuecomment-395737183 regarding the LoRaPHY vs LoRaRadio.

I don't think we understand the difference and should expand/clarify this. It looks to me both are very low-level drivers.
Also not sure how they map to the Mbed OS architecture (from user API, network stacks, to low-level driver

[2018-08-21 12:42] SeppoTakalo opened #672 "Configuration section has a typo"
In https://os.mbed.com/docs/v5.9/reference/configuration.html

Contains:
[code]

However the parameter should be `--config`

[2018-08-21 13:25] AnttiKauppila commented on #551
@MarceloSalazar Would something like this be more clear in docs:
---
LoRaPhy is handling LoRaRadio parameters which are same regardless of radio being used, like for example regional parameters. LoRaRadio should be just controlling the registers and interrupts. This way we can keep actual LoRaRadio drivers rather small.
---

What comes to 15.4 radio the use case is almost exactly the same. Applica

[2018-08-21 13:40] MarceloSalazar commented on #551
Thanks @AnttiKauppila , this clarification is what I was looking for :)
Can you please send a PR to enhance the docs, then we can go ahead and close this ticket. Thanks!

[2018-08-21 13:59] SeppoTakalo commented on #551
Hmm..
I was confused as well because Nanostack has *Phy which is the driver. But this has a *Radio which is the actual driver and it is then controlled by the *Phy.

But comparison is pointless, this is a different API. So as long as it is clear after seeing the example and porting guide, then its fine.

[2018-08-21 14:28] deepikabhavnani opened #673 "MBRBlockDevice::partition - type"
https://github.com/ARMmbed/mbed-os/issues/5506

Query:
I am looking documentation https://os.mbed.com/docs/v5.6/mbed-os-api-doxy/class_m_b_r_block_device.html#ace6dd73e8514a0a2afab8f8bc37bada8

I tried to find supported values/filesystems for type, which is "8-bit partition type to identitfy partition's contents". Would you clarity usage of parameter type with MBRBlockDevice::partition? What are s

[2018-08-21 14:34] theamirocohen commented on #638
Updatetd handbook documentation in PR #674

[2018-08-21 21:24] deepikabhavnani opened #675 "LWIP: Mem-Size (heap memory) calculations"
LWIP heap memory,  what should be optimal value and how to calculate that should be captured in some docs
https://github.com/ARMmbed/mbed-os/issues/7612

[2018-08-27 11:11] pan- opened #686 "Document conventions pseudo-static-classes in design guideline"
It is better to use a namespace than a class to group related free functions that do not belong into an object. Such constructs already exist in the codebase (see the namespace `Kernel` or `ThisThread`) however coding conventions for these programming elements are not well defined. It would be nice to have an entry in the design guideline that explains what these entities are and how they must be

[2018-08-27 16:03] AnotherButler commented on #672
@SeppoTakalo Thanks for raising this. I've fixed it in GH, and the fix will go live once I rebuild the engine.

[2018-08-27 16:10] AnotherButler commented on #551
Closing because PR merged; please feel free to reopen if you feel this does not satisfy the requirements

[2018-08-27 16:10] #551 closed

[2018-08-27 16:11] #672 closed

[2018-08-27 16:13] AnotherButler commented on #638
@bmcdonnell-ionx Does this resolve your issue?

[2018-08-27 16:53] #638 closed

[2018-08-27 19:38] AnotherButler commented on #620
ping @yennster

[2018-08-27 21:27] AnotherButler commented on #479
@loverdeg-ep I'm closing this issue because the PR to solve it merged. Please feel free to reopen it if the PR does not resolve the issue.

[2018-08-27 21:27] #479 closed

[2018-08-27 21:46] AnotherButler commented on #611
Has this issue been resolved?

[2018-08-28 15:44] #620 closed

[2018-08-28 15:59] yennster commented on #611
@masoudr I apologize for the delay on this issue. I'm taking another look at it today.

[2018-08-28 18:49] #529 closed

[2018-08-28 18:49] #530 closed

[2018-08-28 18:49] #534 closed

[2018-08-28 18:49] #576 closed

[2018-08-29 10:11] 0xc0170 opened #692 "Release schedule missing"
https://github.com/ARMmbed/mbed-os-5-docs/blob/576bd6262b25c695848fec1abfd21571e23a8a1a/docs/introduction/release_process.md

This should contain information when we release (patch release, minor release and also mbed 2 release). I don't expect specific dates but at least document the cadence (every second odd week, every quarter, etc) for now.

cc @ARMmbed/mbed-os-maintainers @ashok-rao

[2018-08-29 16:50] AnotherButler commented on #692
@0xc0170 The release cadence is included for patch, feature and major releases: https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/introduction/release_process.md

Information about Mbed 2 releases should go in the Mbed 2 documentation.

[2018-08-31 14:59] deepikabhavnani opened #697 "Document mechanism to enable/disable memory tracing runtime"
https://github.com/ARMmbed/mbed-os/issues/7888

Please capture the mechanism and code share in issue in https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/tutorials/optimize/memory/runtime_mem_trace.md

[2018-08-31 15:01] deepikabhavnani commented on #697
CC @ jflynn129

[2018-08-31 15:03] deepikabhavnani commented on #697
It will be good to capture usage of callback function in different ways to help user.

https://github.com/ARMmbed/mbed-os/issues/4669

[2018-08-31 16:53] deepikabhavnani commented on #552
https://github.com/ARMmbed/mbed-os-5-docs/pull/696 - will fix this.

[2018-09-03 08:26] 0xc0170 commented on #692
There's only "every two weeks". I should be added "every odd week on Wednesday" for  the patch release. The minor -  I dont see there how often it is released - should be added "every quarter" or similar.

Where is it ? I would like to add the cadence there as well

[2018-09-05 00:25] jflynn129 opened #704 "build profiles using online compiler"
When building with the CLI, I am able to specify a "--profile my-profile-file" and modify the build parameters. I see a lot of docs about using the CLI and build-profiles, but I can't seem to find how you specify a build profile for the online compiler.  Is there some method to specify the compile and link parameters when using the online compiler?

[2018-09-05 15:40] dhwalters423 opened #705 "Mbed CLI Device Management deserves it's own section"
In the Mbed OS docs github (here), Device Management functionality has it's own page: https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/tools/offline/cli-device-management.md

In the docs engine, it renders under the `compile` command. https://os-doc-builder.test.mbed.com/docs/development/tools/compile.html

This is very confusing, device management is a much broader topic than just

[2018-09-05 15:57] dhwalters423 opened #707 "Pelion Device Management Client required for mbed dm functionality"
The current documentation for the `mbed dm` command makes no mention of Pelion Device Management Client (PDMC).

https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/tools/offline/cli-device-management.md

In order for someone to use the `mbed dm` command to update a device,their device must be running an application with PDMC and a supported managed or unmanaged bootloader.

Documentat

[2018-09-05 19:28] jflynn129 commented on #704
@dlfryar

[2018-09-05 21:13] AnotherButler commented on #704
@jflynn129 The Online Compiler uses the develop profile. You can find some information about this here: https://os.mbed.com/docs/v5.9/tools/build-profiles.html

[2018-09-06 08:00] SamiLappalainenArm opened #709 ""the porting guide" link gives 404 from Bootloader page"
Steps:
1) go to https://os-doc-builder.test.mbed.com/docs/development/porting/bootloader.html
2) open "You can learn to port the Update Client bootloader to new targets in the porting guide." link
3) "404 Not found" is shown from url https://cloud.mbed.com/docs/current/porting/porting-the-update-client.html

[2018-09-06 14:46] dhwalters423 commented on #707
One more suggestion related to this, we should mention that the device needs to be running the `<name of app>_update.bin` first. So in the tutorial we should say

1. run `mbed dm init` command
2. `mbed compile ...`
3. Flash device with `<name_of_app_update.bin>`
5. View serial terminal for device id
4.  `mbed dm update device -D <device ID> -m <target>`
6.  View serial terminal for update progress

[2018-09-06 15:06] theotherjimmy commented on #704
That's correct ATM. A user cannot modify the build profile.

[2018-09-06 15:08] jflynn129 commented on #704
Ok, thanks for the confirmation. I'll steer customers toward the CLI only for the example I distribute.

[2018-09-06 15:08] #704 closed

[2018-09-06 16:28] maclobdell opened #711 "nitpicks in documentation of device management features in Mbed CLI"
On the page:
https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/tools/offline/cli-device-management.md

Nitpick 1 -
"Arm Mbed OS allows you to update your device firmware, enabled by our Pelion IoT platform."

The use of "our" goes against the ecosystem viewpoint that Mbed OS is community/partnership driven project.  Saying "our" implies that Arm has full control over both Mbed OS and

[2018-09-06 18:49] AnotherButler commented on #711
@maclobdell The phrasing in the first part comes directly from our product team, so I'll confirm with them that it's OK to change. Your second point is spot on. 👍 Good catch.

[2018-09-06 20:27] AnotherButler commented on #709
@MelindaWeed Could you please fix this link?

[2018-09-07 07:04] soramame21 opened #713 "[5.10-OOB] Add type with device at NFC EEPROM driver porting guide"
**device** used in **[NFC EEPROM driver porting guide](https://github.com/ARMmbed/mbed-os-5-docs/blob/24f801d322b92323a5b4b1f3efcb0bbf9520684e/docs/reference/contributing/connectivity/NFCEEPROMDriver.md)** is not clear.
For easy understanding, please add type as **device (NFC tag)** or **device (NFC reader/writer)**

[2018-09-07 10:03] AnotherButler commented on #713
@soramame21 Thanks for letting us know. Could you please work with @donatieng to put up a PR to fix this?

[2018-09-07 19:13] #697 closed

[2018-09-07 19:13] #675 closed

[2018-09-10 09:58] SamiLappalainenArm opened #716 ""Mbed CLI" link from "Adding and configuring targets" gives 404"
steps:
1) go to https://os-doc-builder.test.mbed.com/docs/development/tools/adding-and-configuring-targets.html
2) open Mbed CLI link from "Note: The Online Compiler does not support this functionality. You need to use Mbed CLI to take your code offline."
3) Not found from url "https://os-doc-builder.test.mbed.com/docs/development/tools/arm-mbed-cli.html" is shown

[2018-09-10 11:14] SamiLappalainenArm opened #717 "")." missing from text"
1) go to url: https://os-doc-builder.test.mbed.com/docs/development/tools/adding-and-configuring-targets.html
2) ")." is missing from "We use the tool ArmPackManager to parse CMSIS Packs for target information. index.json stores the parsed information from the PDSC (Pack Description"

[2018-09-10 11:34] MarceloSalazar opened #718 "Enhancements on how to use unittest"
I'm reviewing docs as of 5.10 OOB.

The docs for unittest should be tweaked to explain how to use it.

- Missing instructions on how to run unittest with Mbed CLI, to be coherent with greentea and icetea docs.
https://os-doc-builder.test.mbed.com/docs/development/tools/unit-testing.html

- Mbed CLI is required. Not correct statement here:
https://github.com/ARMmbed/mbed-os/blob/master/UNITTESTS/RE

[2018-09-10 11:36] SamiLappalainenArm opened #719 "incorrect line number for example"
1) go to url: https://os-doc-builder.test.mbed.com/docs/development/tools/adding-and-configuring-targets.html
2) download example .pdsc file via link "http://www.keil.com/pack/Keil.Kinetis_K20_DFP.pdsc is the PDSC that contains TEENSY_31 device (MK20DX256xxx7). "
3) open file with text (file content is .xml)
4) search string "MK20DX256xxx7"

configuration starts from row 204 but documentation stat

[2018-09-10 13:11] lorjala commented on #718
@MarceloSalazar I will update the documentation.

Yes, I will add instructions.

Not required, only encouraged. The Mbed CLI command just works as an alias for a python script. All following use cases are supported:

- Mbed CLI command: mbed test --unittests
- Python script in Mbed OS repository: UNITTESTS/mbed_unittest.py
- Manually build and run tests with CMake and make tools.

I will mirror th

[2018-09-10 13:17] MarceloSalazar commented on #718
@lorjala. Thanks for the comments.

Instead of duplicating the doc, do you think could be added to the docs' json index to pull-in docs automatically?

[2018-09-10 13:40] lorjala commented on #718
@MarceloSalazar Yes, it could be added docs.json. I will start merging and editing the docs.

Also, why does docs for greentea and icetea exist separately when they are also mirrors from GitHub documentations?

[2018-09-10 13:48] MarceloSalazar opened #720 "Mbed CLI device management - missing pointers Python Cloud SDK"
I'm evaluating "Updating devices with Arm Mbed CLI" during 5.10 OOB and reviewing this doc:
https://os-doc-builder.test.mbed.com/docs/development/tools/cli-update.html

It needs to have pointers on how to setup Python Cloud SDK.
https://github.com/ARMmbed/mbed-cloud-sdk-python

[2018-09-10 14:06] AnotherButler commented on #718
@lorjala @MarceloSalazar We have instructions about using unit tests with Mbed CLI: https://os-doc-builder.test.mbed.com/docs/development/tools/test-and-debug.html
Please link to this instead of duplicating content.

@MarceloSalazar Great suggestion moving the pyramid diagram up a level. After looking over it, I agree that's the best place for this content.

I'm not sure I agree with pulling in th

[2018-09-10 19:09] theotherjimmy commented on #720
@MarceloSalazar The setup, adding an api key, is already part of the documentation. Why mention that we're using the python SDK?

[2018-09-11 05:08] SamiLappalainenArm opened #722 "using link "target configuration" from Mbed OS build rules gives 404"
1) go to url: https://os-doc-builder.test.mbed.com/docs/development/tools/mbed-os-build-rules.html
2) try to open link from "The Mbed OS build tools use the target configuration found in targets.json, mbed_app.json and mbed_lib.json as input to these rules."
=> 404 is shown from url: https://os-doc-builder.test.mbed.com/docs/development/tools/mbed_targets.md

[2018-09-11 07:57] SamiLappalainenArm opened #723 ""mbed-os blockdevice api" link gives 404"
1) goto url https://cloud.mbed.com/docs/current/porting/update-k64f-port.html
2) open link "This uses the mbed-os blockdevice api to store the candidate firmware and header." from "pal-blockdevice" section

=> 404 is shown from url: https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/bd/BlockDevice.h

[2018-09-11 10:26] ashok-rao commented on #707
@kegilbert / @AnotherButler : Could you please address this? Thanks.

[2018-09-11 13:12] kegilbert commented on #707
I'm double checking with some cloud/pelion people, I can update the docs accordingly.

[2018-09-11 14:32] AnotherButler commented on #692
The feature release section states "Feature releases occur once a quarter."

The Mbed 2 docs are here: https://os.mbed.com/handbook/Homepage

[2018-09-11 15:56] vijhar01 opened #725 "Review of Updating devices with Arm Mbed CLI section in 5.10 oob mbed-os docs"
1. https://os-doc-builder.test.mbed.com/docs/development/tools/cli-update.html (Project Setup section). Regarding " Obtain the API key from the the Device Management Portal"

Consider including steps/screenshots on how to get the API key from portal.

2. "Device Management Portal" portal link in the page -  https://os-doc-builder.test.mbed.com/docs/development/tools/cli-update.html takes you to ht

[2018-09-11 16:26] theotherjimmy commented on #720
Oh, we're talking about installing it. It should be in `requirements.txt` so a usual `pip -Ur requirements.txt` should work.

[2018-09-11 16:32] MarceloSalazar commented on #720
Yes, I believe should be installed as part of `requirements.txt`, this doesn't seem to work automatically and requires the user invoking `pip ...`, right?

[2018-09-11 17:31] AnotherButler commented on #709
@SamiLappalainenArm Thanks for raising this. This issue has been resolved with PR #727

[2018-09-11 17:31] #709 closed

[2018-09-11 17:31] theotherjimmy commented on #720
"does not seem to" implies that you have tested it and found that this is not the case. If the auto-install fails, then a user will have to run pip, yes.

[2018-09-11 18:18] AnotherButler commented on #722
@SamiLappalainenArm Thanks for raising this. It's now resolved by PR #728

[2018-09-11 18:18] #722 closed

[2018-09-11 18:36] AnotherButler commented on #719
Resolved by PR #729

Nice catch @SamiLappalainenArm 👍

[2018-09-11 18:36] #719 closed

[2018-09-11 18:39] AnotherButler commented on #717
Resolved by PR #730

[2018-09-11 18:39] #717 closed

[2018-09-11 18:44] AnotherButler commented on #716
Thanks @SamiLappalainenArm 👍
Resolved by PR #731

[2018-09-11 18:44] #716 closed

[2018-09-11 18:51] AnotherButler commented on #711
Thanks @maclobdell
This is resolved by PR #732
Please feel free to reopen if this PR does not satisfy these requirements.

[2018-09-11 18:51] #711 closed

[2018-09-11 19:31] AnotherButler commented on #723
Thanks @SamiLappalainenArm
PR up: https://github.com/ARMmbed/mbed_Cloud_Docs/pull/963

[2018-09-11 19:50] AnotherButler commented on #725
@vijhar01 Good points. 👍

Do the links in this PR make more sense?
https://github.com/ARMmbed/mbed-os-5-docs/pull/733

[2018-09-11 20:09] AnotherButler commented on #720
Does this PR, which adds a link to the Pelion quick start, resolve this issue?
https://github.com/ARMmbed/mbed-os-5-docs/pull/733

[2018-09-11 21:12] AnotherButler commented on #718
PR #734 resolves the diagram moving. PR #735 adds the link to the instructions about using unit tests with Mbed CLI.

[2018-09-11 21:57] AnotherButler commented on #718
Please feel free to reopen if these PRs do not resolve this issue.

[2018-09-11 21:57] #718 closed

[2018-09-12 00:08] AnotherButler commented on #552
@deepikabhavnani  Because 696 merged, is this OK to close?

[2018-09-12 00:29] deepikabhavnani commented on #552
Yes

[2018-09-12 00:29] #552 closed

[2018-09-12 12:58] vijhar01 commented on #725
@AnotherButler
Yes. It does. Thanks. I will close this now.

[2018-09-12 12:58] #725 closed

[2018-09-12 14:45] AnotherButler commented on #720
ping @MarceloSalazar @theotherjimmy

[2018-09-12 15:13] MarceloSalazar commented on #720
I don't think so, that PR is about the SDK API key.
And I was referring to the Mbed Cloud SDK Python **package**

However, as @theotherjimmy  commented, it should be installed automatically, or the user may need to install it with pip.

I'm happy to close this item with nor further action.

[2018-09-12 21:07] #720 closed

[2018-09-13 21:50] #723 closed

[2018-09-14 13:11] oliverjharper commented on #707
@teetak01 - any chance you could help with @AnotherButler question above?

[2018-09-14 20:32] AnotherButler commented on #707
@teetak01 Do you agree with @dhwalters423 that we need to specify which binary one uses to flash the device first that contains the bootloader, and which binary one uses for an update? If so, could you please help me clarify that?

[2018-09-17 06:30] teetak01 commented on #707
The "default" binary should be flashed to the board. Then the "_update.bin" is automatically used by mbed-cli for firmware update, but if customer wants to provide the bin explicitly, it should be the _update.bin.

[2018-09-17 14:01] 0xc0170 commented on #692
👍

@adbridge Can you update the homepage to define the mbed 2 release cadence there?

[2018-09-17 14:55] adbridge commented on #692
@0xc0170 Done.

[2018-09-18 22:34] AnotherButler commented on #692
@0xc0170 Is this ready to close?

[2018-09-19 07:15] 0xc0170 commented on #692
Yes, now it is.

[2018-09-19 07:15] #692 closed

[2018-09-20 21:12] #707 closed

[2018-09-27 02:30] toyowata opened #749 "TCPSocket class hierarchy in 5.9 is incorrect"
API document in 5.9 show incorrect class hierarchy for the TCPSocket class.  It is inherited from the InternetSocket class, but it should be inherited from the Socket class in actual code.

API document (5.9)
https://os.mbed.com/docs/v5.9/reference/tcpsocket.html
Code (5.9.x)
https://github.com/ARMmbed/mbed-os/blob/mbed-os-5.9/features/netsocket/TCPSocket.h#L31

API document in the 5.10 is correct

[2018-09-27 21:12] aashishc1988 commented on #601
PR https://github.com/ARMmbed/mbed-os-5-docs/pull/751 filed

[2018-09-27 22:51] kegilbert commented on #749
Looked at this a bit with @AnotherButler and passed it off to @cmonr for more info, but looks like that change was made in master but was not pulled into the 5.9 release branch. I'm not 100% clear on where the docs pull from during release doc builds (master versus RC branch). Assuming this change in particular did not go into 5.9 due to code freeze timing (was merged ~3 weeks before the release w

[2018-09-27 23:04] cmonr commented on #749
Will see if I can't pin this down tomorrow.

I'm not too familiar with how the docs are generated, but if the doxygen was pointing towards the master branch after this (https://github.com/ARMmbed/mbed-os/pull/7192) was merged (note, merged != released), then I could see where the issue came up.

We already confirmed that the mbed-os-5.9 branch's API didn't change throughout it's lifecycle, which i

[2018-09-28 13:30] AnotherButler commented on #749
After discussing this with @iriark01 , we've decided to update the docs .json to point to the release branch instead of master. This should prevent this issue in the future.

[2018-09-28 20:03] AnotherButler commented on #749
@toyowata Thank you for raising this issue. We have implemented this fix, and now the documentation reflects the code: https://os.mbed.com/docs/v5.9/reference/tcpsocket.html.

[2018-09-28 21:35] #749 closed

[2018-09-28 23:07] AnotherButler commented on #611
I'm going to close this issue because it seems to be code related and not docs related. Please feel free to reopen if this is not the case.

[2018-09-28 23:07] #611 closed

[2018-10-04 13:43] AnotherButler commented on #601
Because PR #751 has merged, I'm closing this issue. Please feel free to reopen if it has not been resolved to your satisfaction.

[2018-10-04 13:43] #601 closed

[2018-10-09 19:56] yennster opened #764 "Writing unit tests doc steps do not work"
Following the steps to create a simple unit tests for `rtos/Semaphore.cpp` here: https://os.mbed.com/docs/v5.10/tools/unit-testing.html#writing-unit-tests

**cmake version**: 3.12.1
**Mbed CLI version**: 1.8.2

I follow the steps from the above doc and run `cmake ..` from the `UNITTESTS/build` folder and receive the following error output:

[code]

[2018-10-09 19:59] yennster commented on #764
Update: I figured out that the `unittest.cmake` file NEEDS the following header at the top of the file in order to function:

[code]

I'll submit a PR accordingly

[2018-10-09 20:01] yennster commented on #764
https://github.com/ARMmbed/mbed-os-5-docs/pull/765 resolves this issue

[2018-10-09 20:01] #764 closed

[2018-10-17 16:48] AnotherButler commented on #713
@pan- Could you please look into this?

[2018-10-22 19:18] AnotherButler commented on #621
Completed with PRs #789, #790 and #791

[2018-10-22 19:19] #621 closed

[2018-11-06 02:31] toyowata opened #816 "Broken link for Mbed CLI installer"
An URL for the Mbed CLI installer (Windows) is broken here:
https://os.mbed.com/docs/v5.10/tools/installation-and-setup.html

When I clicked `Windows installer for Mbed CLI`, I got following message:
[code]

Source is:
https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/tools/CLI/cli-setup.md/cli-setup.md

And this also has broken link:
https://github.com/ARMmbed/mbed-os-5-docs/blob/de

[2018-11-06 12:35] camelator commented on #611
I have the same issue as well

[2018-11-06 16:56] AnotherButler commented on #816
@theotherjimmy is addressing this.

[2018-11-06 19:34] theotherjimmy commented on #816
Use https://github.com/ARMmbed/mbed-cli-windows-installer/releases/latest

[2018-11-06 19:51] AnotherButler commented on #611
@TacoGrandeTX Is your team tracking this issue internally? I don't want it to get lost, but I don't think this is a good place to track it.

[2018-11-06 20:35] TacoGrandeTX commented on #611
Yes -  @yennster created a tracking JIRA (IOTDEV-1558).  I've just updated it with additional notes... thanks for the notification!

[2018-11-06 20:53] AnotherButler commented on #611
Thanks :)

[2018-11-06 22:09] AnotherButler commented on #816
Closing because this issue is now resolved

[2018-11-06 22:09] #816 closed

[2018-11-14 08:38] jussisip opened #829 "Link Mbed storage configuration example to storage reference guide"
Could we add web site link of storage application configuration example (https://cloud.mbed.com/docs/current/connecting/mbed-os-storage-configuration.html) into Mbed OS storage reference documentation site https://os.mbed.com/docs/v5.10/reference/configuration-storage.html

In other words:
The reader of Mbed storage reference documentation
https://os.mbed.com/docs/v5.10/reference/configuration-sto

[2018-11-26 16:20] ciarmcom commented on #829
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-748*

[2018-11-26 16:21] ciarmcom commented on #713
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-749*

[2018-11-26 16:21] ciarmcom commented on #686
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-750*

[2018-11-26 16:21] ciarmcom commented on #673
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-751*

[2018-11-26 16:21] ciarmcom commented on #544
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-752*

[2018-11-26 16:21] ciarmcom commented on #499
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-753*

[2018-11-26 16:21] ciarmcom commented on #494
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-754*

[2018-11-27 15:55] loverdeg-ep opened #850 "Dead Link provisioning-sdk.html"
## Page link

https://os.mbed.com/docs/v5.10/evaluation-production/stage-4-pilot.html

![image](https://user-images.githubusercontent.com/24318071/49093785-db84cc00-f232-11e8-8e7e-fb0769bbd1b5.png)

## Expected to find...

Working link to provisioning-sdk

## Found

404 Error

https://cloud.mbed.com/docs/latest/introduction/provisioning-sdk.html

[2018-11-27 16:22] ciarmcom commented on #850
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-807*

[2018-11-27 17:13] iriark01 commented on #850
Fixed; will be built soon. Thank you.

[2018-11-27 17:13] #850 closed

[2018-12-04 05:52] toyowata opened #860 "Incorrect URL to configure local debug toolchain"
## Incorrect URL to configure local debug toolchin

https://os.mbed.com/docs/v5.10/tutorials/eclipse.html#importing-the-project-in-eclipse

In the OpenOCD setting, I found:

But the link points to the exporter.  I think this should be: https://os.mbed.com/docs/v5.10/tools/setting-up-a-local-debug-toolchain.html#openocd

[2018-12-04 06:30] ciarmcom commented on #860
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-820*

[2018-12-06 20:34] AnotherButler commented on #673
@deepikabhavnani Have we updated this in our documentation?

[2018-12-06 20:34] AnotherButler commented on #713
ping @pan-

[2018-12-06 20:39] deepikabhavnani commented on #673
@AnotherButler - No

[2018-12-06 20:41] AnotherButler commented on #829
Please review PR 865

[2018-12-18 16:57] iriark01 commented on #860
Fixed in 5.10 and 5.11 (and development)

[2018-12-18 16:57] #860 closed

[2018-12-18 16:58] #829 closed

[2018-12-18 17:56] iriark01 commented on #686
@pan- we have a new edit of the contribution guidelines happening now on Development; do you want to add anything to that?

[2018-12-20 15:00] 0xc0170 opened #884 "Code guidelines: anonymous namespace - enhancement"
# Docs issue template

Request comes from https://github.com/ARMmbed/mbed-os/pull/9158

## Page link

## Expected to find...

## Found

No mention of anonymous namespace

cc @kjbracey-arm @pan- @SenRamakri

[2018-12-20 16:39] ciarmcom commented on #884
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-869*

[2019-01-03 17:37] bulislaw commented on #884
@kjbracey-arm @pan- @deepikabhavnani I remember you being involved in some changes to namespaces recently, does anyone want to have a stab at this?

[2019-01-08 17:30] 0Grit opened #904 "Formatting of Adding And Configuring Targets Page"
# Docs issue template

## Page link
https://os.mbed.com/docs/v5.11/reference/adding-and-configuring-targets.html

## Expected to find...
Awesome content and decent formatting
## Found
better than awesome content but, tons of formatting issues

[2019-01-08 21:49] ciarmcom commented on #904
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-871*

[2019-01-09 17:13] AnotherButler commented on #904
@loverdeg-ep Thanks for raising this issue. Could you please be more specific about the formatting issues you see? Also, could you please tell us which browser you're using?

[2019-01-10 15:07] 0Grit commented on #904
Chrome Version 71.0.3578.98 (Official Build) (64-bit)

![image](https://user-images.githubusercontent.com/24318071/50977109-8d184d80-14bf-11e9-8fc2-5ccc4919cc0d.png)

![image](https://user-images.githubusercontent.com/24318071/50977062-6d812500-14bf-11e9-8724-150d3ebe2721.png)

![image](https://user-images.githubusercontent.com/24318071/50977091-7a057d80-14bf-11e9-8d15-472ddf54ba6b.png)

[2019-01-10 15:10] 0Grit commented on #904
@AnotherButler The section heading are formatted in a way that makes it hard for me to scan through a document. I ended up blowing through sections without realizing I skipped them or that they existed.

This seems to be a trend on a lot of other pages too. I can document some of them when I get time.

[2019-01-15 16:43] AnotherButler commented on #904
@loverdeg-ep Thanks for the details. I see what you mean. We'll schedule this to fix it. Thanks for raising this issue 👍

[2019-01-15 21:26] AnotherButler commented on #713
ping @pan- @donatieng

[2019-01-16 20:33] 0Grit opened #924 "Question: Sources for Mbed_OS_diagram_for_intro.png"
# Docs issue template
@AnotherButler @BlackstoneEngineering

Any chance of the following diagram sources being released with this repository? Hoping they are Draw.io.

![image](https://user-images.githubusercontent.com/24318071/51276472-d1fe2180-19a2-11e9-99a5-ecd393334fa7.png)

Nice thing about draw.IO is that the diagrams can be exported as .svg, still be relatively human readable, as well as re

[2019-01-16 20:52] AnotherButler commented on #904
We've updated the formatting of the headings on the relevant pages. Does this solve this issue?

[2019-01-16 21:51] ciarmcom commented on #924
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-880*

[2019-01-17 15:35] 0Grit commented on #904
Much better but something is still off.

![image](https://user-images.githubusercontent.com/24318071/51329471-8ea7bf80-1a43-11e9-9e86-fe3f55c52fa6.png)

Might be the spacing between sections?

[2019-01-18 14:19] 0Grit commented on #924
@AnotherButler happening?

[2019-01-22 21:38] AnotherButler commented on #924
Unfortunately, this image was not created in draw.io or anything that's easy to take apart. If you'd like to submit a proposal with how you'd like to use the content, there's a chance we could create something for you.

[2019-01-22 21:57] 0Grit commented on #924
Ahh, MS Paint...

Ehh... I'll probably just re-create and maybe do an MR if I ever get around to it.
We'd be using it probably exclusively for internal design documents, but I suppose it could leak into development guides.

[2019-01-23 23:04] AnotherButler commented on #713
I'm going to close this issue due to lack of movement. Please feel free to reopen if it's still relevant.

[2019-01-23 23:04] #713 closed

[2019-01-24 23:05] AnotherButler commented on #904
Unfortunately, I can't change the spacing between lines to the level of detail. I can pass the feedback on to our UX team, though. There's a chance they can do something on the back end.

[2019-01-25 16:02] 0Grit commented on #904
@AnotherButler
Yeah I think more spacing before the section header, less spacing after section header would do the trick.
Looks like almost a full line of space after the section header.

[2019-01-31 00:52] dongxusong opened #932 "Error: Undefined symbol dot (referred from ../../build/examples/src/dot_util.MTS_MDOT_F411RE.o)."
I can't compile, The error information is:

Error: Undefined symbol dot (referred from ../../build/examples/src/dot_util.MTS_MDOT_F411RE.o).

[2019-01-31 05:46] ciarmcom commented on #932
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-905*

[2019-01-31 11:19] adbridge commented on #932
@dongxusong Please provide more details. There is insufficient details here for us to even investigate. What are you compiling? What compiler? What version of mbed-os etc? Also this should really be raised in the mbed-os repository - could you please open a more comprehensive issue there and close this one? Thanks

[2019-02-01 15:41] AnotherButler commented on #904
@loverdeg-ep I've alerted our UX team members, so they can perform an analysis on this request. If they move forward with it, once I learn of a delivery date, I'll reopen this issue with that information.

[2019-02-01 15:41] #904 closed, assigned to AnotherButler

[2019-02-03 10:40] 0Grit opened #936 "Ambiguous description of how the network interface behaves for 6LoWPAN networks"
# Docs issue template

## Page link
https://os.mbed.com/docs/mbed-os/v5.11/apis/network-interfaces.html
## Expected to find...

Not sure

## Found
Ambiguous description of how the network interface behaves for 6lowpan networks.
![image](https://user-images.githubusercontent.com/24318071/52175650-c5d0dd00-2774-11e9-9322-3719699e39f5.png)

[2019-02-03 12:55] ciarmcom commented on #936
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-908*

[2019-02-04 17:42] AnotherButler commented on #936
@SeppoTakalo Could you please help with this?

[2019-02-05 11:56] SeppoTakalo commented on #936
Yes, assign then internal ticket to my team.

[2019-02-06 10:33] ASealion opened #939 "List available toolchains for exporting via mbed cli"
# the command mbed export -h did not list the supported toolchains

The documentation says

but provided command will only give an overview of all options available

If you use an invalid toolchain as -i parameter you get the list of valid toolchains

## https://os.mbed.com/docs/mbed-os/v5.11/tools/exporting.html

## List of supported toolchains

## Only general help on mbed export

[2019-02-06 13:13] ciarmcom commented on #939
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-915*

[2019-02-06 22:35] 0Grit opened #942 "Add this repository to ARMmbed pinned repo's"
# Docs issue template

## Page link

https://github.com/ARMmbed

## Would like to find...

mbed-os-5-docs pinned at top. I've got a bookmark but...

## Found

![image](https://user-images.githubusercontent.com/24318071/52378377-7f5dd580-2a35-11e9-914a-9e9c3c081710.png)

[2019-02-06 22:58] AnotherButler commented on #942
I think this is a great suggestion. @ARMmbed/mbed-os-maintainers What are your thoughts? Is this something we can do?

[2019-02-07 06:46] ciarmcom commented on #942
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-916*

[2019-02-07 13:07] #942 closed, assigned to nobody

[2019-02-08 14:09] 0Grit opened #946 "Circular Link"
# Docs issue template

## Page link

https://os.mbed.com/docs/mbed-os/v5.11/contributing/index.html#licensing

The contributing guidelines link, links to the section it is contained within.

![image](https://user-images.githubusercontent.com/24318071/52483114-197e6480-2b81-11e9-817e-9a89686fe042.png)

[2019-02-08 16:39] ciarmcom commented on #946
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-918*

[2019-02-08 20:31] AnotherButler commented on #924
@loverdeg-ep Because this isn't in draw.io, shall I close this issue?

[2019-02-08 20:40] #924 closed, assigned to nobody

[2019-02-08 20:47] AnotherButler commented on #939
@theotherjimmy or @bridadan Could one of y'all please help with this?

[2019-02-11 21:30] bridadan commented on #939
Hi @ASealion,

I agree, the language is confusing, `mbed export -h` only lists the available options, not all of the available IDEs.

Turns out we can run `mbed export --supported ides` on most recent releases of Mbed OS (since 5.5.0):

[code]

Would that be a viable substitute? If so, this would be the line to change: https://github.com/ARMmbed/mbed-os-5-docs/blame/f12ac64625e2770a848d1b819ceee29

[2019-02-12 23:00] AnotherButler commented on #946
Thanks for raising this issue 👍 This has now been resolved, which you can see at the link.

[2019-02-13 13:59] 0Grit commented on #946
This is resolved. But I found something else upon clicking the link.

[2019-02-13 13:59] #946 closed, assigned to nobody

[2019-02-13 14:02] 0Grit opened #950 "Bad text contrast for LICENSE file snippet"
# Docs issue template

## Page link
https://os.mbed.com/docs/mbed-os/v5.11/contributing/license.html

Chrome Version 71.0.3578.98 (Official Build) (64-bit)

## Expected to find...
Mostly readable license text.
## Found
![image](https://user-images.githubusercontent.com/24318071/52716874-be2be800-2f6d-11e9-99e0-708be6c7dcdc.png)

[2019-02-13 14:03] 0xc0170 commented on #950
Good find, I noticed this as well !

[2019-02-13 20:06] AnotherButler commented on #950
Thanks for raising this issue, @loverdeg-ep 👍

I have updated the snippet formatting. Please feel free to reopen this issue if this fix does not resolve it.

[2019-02-13 20:06] #950 closed, assigned to nobody

[2019-02-19 23:06] AnotherButler commented on #932
I'm closing this issue because we can't resolve it without more information. Please feel free to reopen it with answers to the questions from @adbridge

[2019-02-19 23:06] #932 closed, assigned to nobody

[2019-02-20 14:32] SeppoTakalo commented on #936
Will be fixed in https://github.com/ARMmbed/mbed-os-5-docs/pull/957

[2019-02-20 21:27] #936 closed, assigned to SeppoTakalo

[2019-02-21 23:06] AnotherButler commented on #939
@ASealion Does this substitute work for you?

[2019-02-22 08:55] ASealion commented on #939
@AnotherButler Yea, that's the command / "change" I was looking for.

[2019-02-27 00:38] AnotherButler commented on #939
@bridadan @theotherjimmy Could one of you please make this change to the docs?

[2019-02-27 15:50] theotherjimmy commented on #939
Sure. Just a minute.

[2019-02-27 15:55] theotherjimmy commented on #939
@AnotherButler see https://github.com/ARMmbed/mbed-os-5-docs/pull/970

[2019-02-27 17:09] AnotherButler commented on #939
Resolved with PR #970
You can see the updated document at the link in the description.

[2019-02-27 17:09] #939 closed, assigned to theotherjimmy, bridadan

[2019-03-06 06:35] kiranshila opened #991 "custom_targets and configuration intent for custom hardware"
## Page link
https://os.mbed.com/docs/mbed-os/v5.11/reference/adding-and-configuring-targets.html
https://os.mbed.com/docs/mbed-os/v5.11/evaluation-production/stage-3-prototype.html

## Expected to find...
A more thoughtful explanation as to why one would need to configure a custom target rather than a brief on JSON and inheritance.

I can not seem to find a straightforward explanation on how to b

[2019-03-06 16:03] AnotherButler commented on #991
@kiranshila Thanks for raising this issue. I agree that this is content we should add. I'll raise this with my team. In the meantime, we do have a [porting guide about adding custom targets from scratch](https://os.mbed.com/docs/mbed-os/v5.11/porting/index.html), but I don't think it quite meets your needs.

[2019-03-06 21:29] ciarmcom commented on #991
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-958*

[2019-03-07 11:22] nusret103 opened #993 "We have one issue with low power state on U-Blox C030-U201 when we are using the latest mbed-os the board won't enter on deep sleep. This issue is not happening with release version: 3823:2b4ff78"
# Docs issue template

## Page link

## Expected to find...

## Found

[2019-03-07 11:22] nusret103 commented on #993
We have one issue with low power state on U-Blox C030-U201 when we are using the latest mbed-os the board won't enter on deep sleep. This issue is not happening with release version:

3823:2b4ff78

[2019-03-07 12:24] 0xc0170 commented on #993
Please add this to Mbed OS repository. I'll close this one.

We will need more details - how to reproduce the issue.

[2019-03-07 12:24] #993 closed, assigned to nobody

[2019-03-07 15:04] janjongboom opened #996 "FSB usage missing from LoRaWAN documentation"
We have the [FSB_Usage](https://github.com/ARMmbed/mbed-os/blob/master/features/lorawan/FSB_Usage.txt) document that lives in the `lorawan` feature in Mbed OS, but this document is not in the docs. It's very useful and it should be integrated in the LoRaWAN documentation.

cc @hasnainvirk

[2019-03-07 16:43] ciarmcom commented on #996
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-961*

[2019-03-07 19:44] dlfryar-zz commented on #991
Hi @kiranshila,

An unofficial public example doing this on the Nordic nRF52840 is here:

https://github.com/dlfryar/mbed-os-example-max77801/tree/MM-custom_targets

The other option is to do the same in the mbed-os structure without the custom_targets.json config:

https://github.com/dlfryar/mbed-os/tree/target_mm/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52/TARGET_MCU_NRF52840/TARGET_MM

If y

[2019-03-07 19:47] kiranshila commented on #991
Awesome, thanks!

I'm almost done defining a new custom target, once I finish I would love to write a more formal write up of the process in the context of moving from prototype to production.

[2019-03-11 10:19] carlosperate opened #1005 "Old article doesn't redirect correctly"
# Docs issue template

## Page link

Original URL: https://docs.mbed.com/docs/mbed-os-handbook/en/5.4/debugging/debugging_microbit/

## Expected to find...

Should redirect to: https://os.mbed.com/docs/mbed-os/v5.11/tutorials/debug-microbit.html

## Found

Instead it redirects to: https://os.mbed.com/docs/mbed-os/v5.11/introduction/index.html

[2019-03-11 13:07] ciarmcom commented on #1005
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-963*

[2019-03-11 16:57] AnotherButler commented on #1005
@JoeTheGuitarist I don't think I can fix this one. Could someone on your team please look into this?

[2019-03-11 16:59] JoeTheGuitarist commented on #1005
@AnotherButler yes, I'll add a ticket.

[2019-03-11 17:00] AnotherButler commented on #1005
Thanks 👍

[2019-03-11 23:19] carlosperate commented on #1005
Thanks @AnotherButler and @JoeTheGuitarist!

[2019-03-14 11:00] teetak01 opened #1011 "mbed-cli python3 requirement not supported with Ubuntu 16.04 LST"
Docs say:

Python: Mbed CLI is a Python script, so you'll need Python to use it. We test Mbed CLI with Python versions 2.7.11, and with 3.6.5 and greater.

But Ubuntu 16.04 LTS does not support Python 3.6.5 out-of-box.

https://packages.ubuntu.com/xenial/python3
python3-minimal (= 3.5.1-3)

Release | End of Life
-- | --
Ubuntu 16.04 LTS  | April 2021

What is our tools support promise and which Py

[2019-03-14 11:01] teetak01 commented on #1011
cc: @OPpuolitaival

[2019-03-14 13:12] ciarmcom commented on #1011
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-968*

[2019-03-14 13:25] JanneKiiskila commented on #1011
One question is - do we know ANY reason why we want Python 3.6.5 vs. Python 3.5.2? Is there some feature we want there or?

It seems to me that someone has sort of made their mind that Ubuntu 18.04 is the way to go?

[2019-03-14 13:29] 0xc0170 commented on #1011
@ARMmbed/mbed-os-tools Please review

Looking at cli definitions - https://github.com/ARMmbed/mbed-cli/blob/3b43228d6f21d99a4919866c697c0f73cecee313/setup.py#L35 - few versions not supported but 3.5 should be. Circle CI there defines 3.6 and 3.7 testing.

[2019-03-14 13:33] JanneKiiskila commented on #1011
There's an opportunity here at the same time - I would personally drop the Python2 support completely and go with 3 only. That would make at least the full client story a bit smoother, as the Factory tooling doesn't support Python2 any way.

[2019-03-14 13:46] theotherjimmy commented on #1011
@JanneKiiskila I'm happy to drop python2, as soon as our testing infra is on python3 and the installers include python3 and we have a migration path for all releases prior to 5.11.x (when python 3 was truly beginning to be usable)

[2019-03-14 14:47] cmonr commented on #1011
@JanneKiiskila We've started talking about when would be the right time to drop Py2 support, but unless there's a critical issue that it would fix, I don't see that happening for this release.

In Mbed OS, Travis CI tests the following versions: Py 2.7.14, 3.5.6, 3.6.3, and 3.7.1.
As @0xc0170 mentioned as well, Mbed CLI is testing Py3 as well.

I suspect it's probably more like noone specificed a

[2019-03-18 14:33] theotherjimmy commented on #1011
@teetak01 What action do you expect to this issue? Do you expect that line to include python 3.5.x? do you expect me to say, yes that's what we support?

[2019-03-18 15:13] teetak01 commented on #1011
Just some clarification in the documentation that which python3 versions we actually promise to support, and is Ubuntu 16.04 included in that range (which I think should be, even if there might not have been strict requirement for it).

This will impact what requirements we define on Cloud side, as I prefer to align those with the OS side.

[2019-03-18 15:20] theotherjimmy commented on #1011
@teetak01 It seems to me that you're quoting the section of the documentation that documents the requirement. Is there somewhere else you want it documented?

[2019-03-18 15:22] teetak01 commented on #1011
As long as we have clear idea what we promise to support, and it can be found from the official documentation for Mbed CLI somewhere there.

I opened this mainly because it did not seem to be clear what we actually support.

[2019-03-18 15:44] theotherjimmy commented on #1011
https://os.mbed.com/docs/mbed-os/v5.11/tools/linux.html This is the page you quoted with:

Is that sufficient?

[2019-03-19 06:56] teetak01 commented on #1011
@theotherjimmy

Of course I cannot really say what it should be, that is what I am asking from OS team.

[2019-03-19 13:43] theotherjimmy commented on #1011
@teetak01 In the future, please don't phrase requests like this as a question; you were not asking for clarity, you were already clear on what's supported and you wanted to change it. Instead just ask that we support 3.5.1 and greater instead. That way we don't have to talk about it a bunch to get to that conclusion.

We can probably drop that to 3.5.1, after we change the version used in CI.

[2019-03-22 16:28] iriark01 commented on #1011
This doesn't strike me as a docs issue. Can I close it?

[2019-03-22 16:31] theotherjimmy commented on #1011
@iriark01 This has changed into an engineering issue to support Python 3.5.1. @teetak01 Is that correct?

Actually, for best tracking, if that's true @teetak01 Please open a new issue requesting that Python 3.5.1 be supported in mbed-cli.

[2019-03-22 16:32] #1011 closed, assigned to theotherjimmy, SenRamakri

[2019-03-27 17:05] mpg opened #1035 "Debugging page has a link to itself instead of to expanded page"
# Docs issue template

## Page link

https://os.mbed.com/docs/mbed-os/v5.8/tutorials/debugging.html

## Expected to find...

In the sentence "Read our tutorial, which guides you through this process." at the very end of the page, I expect the link "our tutorial" to take me to another page with more information the process.

## Found

The links "our tutorial" brings me back to the same page and I'm

[2019-03-27 21:18] AnotherButler commented on #1035
@mpg Thanks for raising this issue.

That content continues in the rest of the pages in that section. If you're looking to specifically export the project to a third party IDE for debugging, please see the [Eclipse](https://os.mbed.com/docs/mbed-os/v5.8/tutorials/eclipse.html), [Keil uVision](https://os.mbed.com/docs/mbed-os/v5.8/tutorials/keil-uvision.html), [Visual Studio Code](https://os.mbed.c

[2019-03-27 21:18] #1035 closed, assigned to nobody

[2019-03-27 22:15] AnotherButler commented on #884
@0xc0170 I'm closing this because the PR addressing it has merged. Please reopen if it has not been fully resolved.

[2019-03-27 22:15] #884 closed

[2019-03-28 09:36] mpg commented on #1035
@AnotherButler Thanks for fixing so quickly! And thanks for the tip about "latest" in the URL.

[2019-04-05 15:42] turmary opened #1038 "'mbed import' could not import from https://os.mbed.com"
# Docs issue template

## Page link

## Expected to find...

## Found
tary@tary-think MINGW32 /f/home/tary/mbed
$ git clone https://os.mbed.com/users/hudakz/code/CAN_Hello
Cloning into 'CAN_Hello'...
fatal: unable to update url base from redirection:
  asked for: https://os.mbed.com/users/hudakz/code/CAN_Hello/info/refs?service=git-upload-pack
   redirect: https://os.mbed.com/users/hudakz/code/CAN

[2019-04-05 15:46] AnotherButler commented on #1038
@SenRamakri Could someone from your team help with this?

[2019-04-05 15:51] ciarmcom commented on #1038
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-995*

[2019-04-08 16:36] cmonr commented on #1038
@turmary Please reopen this issue in Mbed OS: https://github.com/ARMmbed/mbed-os/

This does not appear to be a tool issue, not doc issue.

[2019-04-08 16:36] #1038 closed, assigned to SenRamakri

[2019-04-15 11:12] lauri-piikivi opened #1042 "watchdog.h can not be found in source"
## Page link
https://os.mbed.com/docs/mbed-os/v5.12/porting/watchdog-port.html

## Expected to find...
watchdog.h or any of the watchdog structures in the source

## Found
nothing

The below PR seems to say we deleted the watchdog.h from source version control, but helps remain
https://github.com/ARMmbed/mbed-os/pull/8801

[2019-04-15 12:08] ciarmcom commented on #1042
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1006*

[2019-04-16 15:09] AnotherButler commented on #996
Because this does not fit into our planned documentation at this time, we have no plans to resolve this issue in the near future. Therefore, I'm going to close this issue.

[2019-04-16 15:09] #996 closed, assigned to nobody

[2019-04-17 05:46] #1042 closed, assigned to nobody

[2019-06-05 09:02] SeppoTakalo opened #1078 "Connectivity configuration documentation is lost"
If you compare the documentation regarding connectivity configuration, you will notice that between 5.11 and 5.12 the sections were completely lost and mixed up with unrelated stuff.

For comparison, in Mbed OS 5.11 this page: https://os.mbed.com/docs/mbed-os/v5.11/reference/configuration-connectivity.html
contains clear sections and internal table of contents.
You can easily link to relevant sect

[2019-06-05 12:06] ciarmcom commented on #1078
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1087*

[2019-06-05 14:46] AnotherButler commented on #1078
The code parameters are pulled straight from the code base. If this page contains incorrect parameters, it means they are incorrect in the code or the script is wrong. Could you please look at the script to see which is the case?

If you or one of your engineers can modify the script to add sections, that could be helpful.

[2019-06-14 14:55] bulislaw opened #1089 "Part of doxygen not generated in the docs engine"
The file level doxygen is not reflected in the generated docs:
https://github.com/ARMmbed/mbed-os/blob/master/drivers/MbedCRC.h#L46 is nowhere to be found, I would expect it somewhere linked to CRC either:
https://os.mbed.com/docs/mbed-os/v5.12/apis/mbedcrc.html
https://os.mbed.com/docs/mbed-os/v5.12/mbed-os-api-doxy/classmbed_1_1_mbed_c_r_c.html

I didn't check other files, but I would assume it

[2019-06-14 15:42] ciarmcom commented on #1089
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1111*

[2019-06-17 08:13] bulislaw commented on #1089
Closing as it's an issue with the header file.

[2019-06-17 08:13] #1089 closed, assigned to nobody

[2019-06-27 23:13] sjlongland opened #1098 "[HW Accel sha-256] Is it really expected that we implement a deprecated function?"
Hi,

I was just reading https://os.mbed.com/docs/mbed-os/v5.12/porting/hardware-accelerated-crypto.html in regards to putting hardware acceleration in OpenThread which uses mbedTLS 2.13.0, specifically AES and SHA-256 algorithms (ultimately ECC too, soon as I figure out how).

The documentation states:

…

For SHA-256, that takes me [here](https://tls.mbed.org/api/sha256_8h.html#a12db056a85dc91162

[2019-06-27 23:37] sjlongland commented on #1098
Also whilst I'm here… the module I'm talking to (AES in CC2538) does *NOT* implement SHA-224… do I need to take care of the initial value when initialising the module or is the first block I read going to contain the initialisation data for SHA-224?

[2019-06-28 01:11] AnotherButler commented on #1098
@Patater @RonEld Could one of you help with this?

[2019-06-28 05:56] ciarmcom commented on #1098
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1119*

[2019-06-30 06:44] RonEld commented on #1098
Hi @sjlongland
Thank you for your question!
The reason for hte deprecation of the function is for backwards compatibility of existing applications that haven't moved to the new API (`mbedtls_internal_sha256_process()`) . These deprecated functions are intended to be removed in a release or two, so I wouldn't bother in implementating these functions in your alternative implementation.
I would say t

[2019-07-01 00:27] sjlongland commented on #1098
Okay, so should I implement `mbedtls_internal_sha256_process` instead?

Makes sense. :-)  I'm not sure that SHA-224 is being used in OpenThread, but it's probably better to handle it anyway.

[2019-07-01 08:29] RonEld commented on #1098
This is an internal function, but you will need it to build. You should have it return `MBEDTLS_ERR_PLATFORM_FEATURE_UNSUPPORTED`. See [this port](https://github.com/ARMmbed/mbed-os/blob/master/features/cryptocell/FEATURE_CRYPTOCELL310/sha256_alt.c#L57) for reference.

If your use case is OpneThread only, and it doesn't require SHA-224, I wouldn't bother in setting the initial value, and just retu

[2019-07-01 09:26] sjlongland commented on #1098
No problems, that looks like a good starting point.  Many thanks. :-)

[2019-07-03 14:22] frmdstryr opened #1100 "Please add UARTSerial to the docs and clarify serial handling"
I spent part of a day trying to get `RawSerial` to work with interrupts only to fail at getting it to work reliably. After digging through various issues I finally found that `UARTSerial` with sigio should be used instead.  UARTSerial works well however it is not mentioned anywhere in any of the "Serial" related doc pages, could this be added?

Also it's a bit confusing what the difference is betw

[2019-07-03 15:34] ciarmcom commented on #1100
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1127*

[2019-07-04 14:27] 0xc0170 commented on #1100
Thanks for reporting, we will review and fix this (I've noticed few other similar reports recently in our issue tracker).

[2019-07-04 19:41] pabloassembler opened #1101 "SDBlockDevice example doesn't import"
SDBlockDevice example on

https://os.mbed.com/docs/mbed-os/v5.13/apis/sdblockdevice.html

doesn't import as a program. Instead, a full directory os examples is imported.

[2019-07-04 20:26] ciarmcom commented on #1101
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1129*

[2019-07-07 17:10] MarceloSalazar opened #1102 "Broken link in porting HAL module page"
# Docs issue template

## Page link
https://os.mbed.com/docs/mbed-os/v5.13/porting/porting-hal-modules.html

Text / link: "You can see an example using the CC3220SF-LAUNCHXL board." --> https://github.com/ARMmbed/mbed-os-examples-docs_only/blob/master/Baremetal-Blinky/main.cpp

## Expected to find...

Example mentioned in docs.

## Found

"Page not found"

[2019-07-08 06:08] ciarmcom commented on #1102
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1132*

[2019-07-08 06:08] ciarmcom commented on #1102
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1133*

[2019-07-08 15:47] AnotherButler commented on #1102
That example has been updated, and it has changed names. It's linked immediately after the broken link, so I'm removing the duplicated broken link. I'll mark this as resolved once the change has merged to all affected versions.

[2019-07-09 21:08] AnotherButler commented on #1101
@pabloassembler Thank you for raising this issue. We're looking into it.

[2019-07-10 08:14] dreamlich opened #1105 "DTLSSocket example is wrong"
# Docs issue template
DTLSSocket example is wrong. It is an example for TLSSocket but not DTLSSocket.
## Page link
https://os.mbed.com/docs/mbed-os/v5.13/apis/dtlssocket.html

## Expected to find...

## Found

[2019-07-10 12:06] ciarmcom commented on #1105
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1136*

[2019-07-10 14:01] AnotherButler commented on #1105
@dreamlich Thanks for contacting us.
DTLSSocketWrapper inherits TLSSocketWrapper and uses the same API. That's why this API uses the same example as TLSSocket.

[2019-07-11 05:44] #1102 closed, assigned to nobody

[2019-07-11 18:34] AnotherButler commented on #1101
Thank you for bringing this to our attention. For this example, we have disabled the button causing the unexpected behavior and ask that you [copy the example into a new program](https://os.mbed.com/docs/mbed-os/v5.13/tools/creating-a-new-program.html) rather than importing it directly.

[2019-07-13 13:10] rise0chen opened #1114 "How to define a macro definition on mbed compiler?"
How to define a macro definition on mbed compiler?like `gcc -D xxx xxx`

[2019-07-13 15:35] ciarmcom commented on #1114
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1142*

[2019-07-13 23:20] rise0chen commented on #1114
Can't resolve DNS.

[2019-07-15 18:27] AnotherButler commented on #1114
Hi, @rise0chen . You can define macros through the configuration system. You can find documentation about it in the [configuration section](https://os.mbed.com/docs/mbed-os/v5.13/reference/configuration.html) and the following pages. Please let us know if you have further questions.

[2019-07-15 18:38] AnotherButler commented on #1105
Please feel free to reopen this ticket if you feel this issue has not been resolved.

[2019-07-15 18:38] #1105 closed, assigned to nobody

[2019-07-15 18:42] AnotherButler commented on #1101
Please feel free to reopen this issue if you feel it has not been resolved.

[2019-07-15 18:42] #1101 closed, assigned to nobody

[2019-07-16 01:02] rise0chen commented on #1114
I see,thx.
![image](https://user-images.githubusercontent.com/12853908/61258452-57268f80-a7a8-11e9-8378-2ac3bbc90054.png)

[2019-07-16 01:02] #1114 closed, assigned to nobody

[2019-07-18 16:59] AnotherButler commented on #1098
We have updated content through PR #1115

[2019-07-18 21:02] AnotherButler commented on #686
We also have an API references for ThisThread and Kernel interface functions: https://os.mbed.com/docs/mbed-os/v5.13/apis/thisthread.html and https://os.mbed.com/docs/mbed-os/v5.13/apis/kernel-interface-functions.html

Does this address this issue?

[2019-07-19 10:44] kjbracey commented on #686
I think @pan- was looking at an entry mentioning the design pattern for the coding guidelines. Maybe something like this for style.md:

### Naming conventions
#### Classes
#### Functions
#### Namespaces

Namespaces used to group subsystems are lower-case, such as `rtos` and `event`. If not in a specific subsystem, C++ APIs are in namespace `mbed`. A few APIs remain in the global namespace for back

[2019-07-19 16:03] AnotherButler commented on #1098
Please feel free to reopen this if you feel it has not been resolved.

[2019-07-19 16:03] #1098 closed, assigned to Patater, RonEld

[2019-08-07 09:22] doom-fr opened #1129 "Add sudo to install mbed-cli"
# Docs issue template
command `pip install mbed-cli` does not work on `Ubuntu 18.04.LTS`

## Page link
https://os.mbed.com/docs/mbed-os/v5.11/tools/linux.html

## Expected to find...
`sudo pip install mbed-cli`
or maybe `sudo -H pip install mbed-cli`

## Found
`pip install mbed-cli`

which produce ...
[code]

[2019-08-07 12:08] ciarmcom commented on #1129
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1165*

[2019-08-07 12:16] doom-fr commented on #1129
my DNS do not know jira.arm.com

https://dnschecker.org/#A/jira.arm.com

[2019-08-07 13:27] 0Grit commented on #942
@adbridge Can this be adjusted?
@ARMmbed/mbed-os-maintainers

People probably look for the docs more than they do minimal-printf

![image](https://user-images.githubusercontent.com/24318071/62626522-9488c380-b8f5-11e9-8c60-64072eca1528.png)

[2019-08-07 13:36] AnotherButler commented on #1129
@madchutney @mark-edgeworth Could one of y'all please help with this?

@doom-fr As a side note, are you using Mbed OS 5.11? If you're using the latest version (Mbed OS 5.13), you can find the most recent documentation here: https://os.mbed.com/docs/mbed-os/latest/tools/manual-installation.html.

[2019-08-07 14:08] evedon commented on #942
It's my bad I think!
I changed that recently thinking these repos were pinned for me only... !
I will revert to the ones shown at the top, plus the mbed-os-5-docs

[2019-08-07 14:12] 0Grit commented on #942
Hahha, NP. I had a feeling somebody changed them thinking they were per user.

[2019-08-07 15:58] doom-fr commented on #1129
I have used the default `mbed-os-example-blinky`

In the new version of doc, it is still `pip install mbed-cli`, no `sudo` !

[2019-08-07 19:57] RomanSaveljev commented on #1129
https://askubuntu.com/a/802594 explains why `sudo pip install` is a bad practice. I think it should not be encouraged by the official documentation. If one uses virtual environment, then plain `pip install mbed-cli` will succeed. If one does not, then calling `pip install --user` is the way to avoid `sudo`.

[2019-08-07 21:11] doom-fr commented on #1129
OK but `pip install --user mbed-cli` does not work too.
(Maybe it does not work on my machine because it is not a fresh install)
Anyway, it is not written in the documentation.

And for `sudo`, Pip uses SSL. No ? So there can't be man in the middle.
Not sure of that.

But in the documentation, what's sure is that it should be written a command line that works.
And for now, it is not the case.

[2019-08-09 14:48] AnotherButler commented on #1129
ping @madchutney @mark-edgeworth

[2019-08-12 14:11] mark-edgeworth commented on #1129
This is a reference to ARM's internal bug tracking system only and is not externally visible.

[2019-08-12 14:24] mark-edgeworth commented on #1129
The installation of mbed-cli is not as painless as we'd like, and we're not even sure that it works on Ubuntu at the moment. We are looking at how this can be improved.  Having said that, may I suggest that you install this into a virtual python environment (eg pipenv) which may resolve some of the issues you are having.

[2019-08-14 19:11] matthew-macovsky-cypress opened #1133 "Conflicting information about Watchdog"
The [Watchdog porting documentation](https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/porting/target/Watchdog.md) states the following:

However, the [Watchdog API documentation](https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/api/drivers/Watchdog.md) states:

This seems to conflict with the porting documentation.

[2019-08-14 19:19] AnotherButler commented on #1133
@jamesbeyond @0xc0170 Can one of y'all help with this?

[2019-08-14 20:45] ciarmcom commented on #1133
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1196*

[2019-08-15 11:05] jamesbeyond commented on #1133
Hi @matthew-macovsky-cypress,

the Info here are not conflicting.

The [Watchdog porting documentation](https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/porting/target/Watchdog.md) is the HAL API porting doc. this doc mean to be used by silicon vendors when porting their platform to mbed-OS. In this doc we are saying that, mbed-OS allow vendors given any timeout value (1ms<value<UIN

[2019-08-15 15:23] matthew-macovsky-cypress commented on #1133
Hi @jamesbeyond, thanks for the explanation.  I think I understand better now.  Would I be correct then to interpret that line in the porting documentation as saying that `UINT32_MAX` is the maximum allowed `max_timeout` returned from `hal_watchdog_get_platform_features()`, and not as saying that vendors must support a `timeout_ms` of `UINT32_MAX` in `hal_watchdog_init()`?

[2019-08-15 15:44] jamesbeyond commented on #1133
@matthew-macovsky-cypress  you are right. Vendor's target WDG max timeout usually is a fixed value determinate by the HW register bit-width and frequency etc. As long as this value within the range `1ms<value<UINT32_MAXms` , mbed-os can support this target without any issue. But if a target watchdog timeout is out of that scope. we will need some workarounds

[2019-08-15 16:05] matthew-macovsky-cypress commented on #1133
Alright, thanks for your help.

[2019-08-15 16:05] #1133 closed, assigned to jamesbeyond

[2019-08-16 02:11] mj8w opened #1135 "compiling-the-code.html has no windows info"
# Docs issue template

## Page link
https://os.mbed.com/docs/mbed-os/v5.13/quick-start/compiling-the-code.html
## Expected to find...
CLI instructions for windows
## Found
Apparently Linux CLI?

[2019-08-16 02:11] mj8w commented on #1135
Oh. It is right, except the prompt is not the same. Also, you have to open a new cmd shell, after the install is complete.

[2019-08-16 05:50] ciarmcom commented on #1135
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1202*

[2019-08-16 05:50] ciarmcom commented on #1135
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1203*

[2019-08-16 14:55] AnotherButler commented on #1135
@mj8w How would you recommend we clarify this to minimize future confusion?

[2019-08-16 20:44] AnotherButler commented on #1005
@carlosperate Thanks for raising this issue. We've implemented redirects for documentation for Mbed OS 5.6 and later. We have no plans at this time to implement redirects for documentation before Mbed OS 5.6.

[2019-08-16 20:44] #1005 closed, assigned to JoeTheGuitarist

[2019-08-16 22:07] javiermelendezc opened #1136 "Error on NetworkInterface set_blocking() docs."
https://os.mbed.com/docs/mbed-os/v5.13/mbed-os-api-doxy/class_network_interface.html#aaf6bf1dfffbe6a5626b7b52eaa542b6e

Documentation on connect() and disconnect() says:

Then in set_blocking() parameters description it says:

I think it should be: **Use false to set NetworkInterface in asynchronous mode.**

[2019-08-16 23:48] mj8w commented on #1135
What happened in my case (which I should have known better), is I already had a cmd prompt window open, while it installed, and forgot that the PATH would be re set. When I tried mbed, nothing worked.
The thing is, you can't tell what the prompt (on the webpage) means, like is this the cmd prompt, or something else? Maybe I was supposed to open an mbed app and then I get this prompt?
I think the p

[2019-08-17 06:04] ciarmcom commented on #1136
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1206*

[2019-08-19 13:59] chocolatepatty opened #1137 "Lack of documentation for startAdvertising"
Unable to find documentation for startAdvertising(advertising_handle_t, adv_duration_t, uint8_t).

https://os.mbed.com/docs/mbed-os/v5.13/mbed-os-api-doxy/class_gap.html#ad84f0991daf05aa3f2e1a7437d32b504

Entry for startAdvertising(void) informs that this is deprecated, but does not link to any information about function given in "use instead". Have been unable to find any useful information about

[2019-08-19 14:20] AnotherButler commented on #1137
@chocolatepatty Thanks for raising this issue. I think you may find the information you're looking for here: https://os.mbed.com/docs/mbed-os/v5.13/mbed-os-api-doxy/classble_1_1_gap.html#a49774a7becc9d4fa30dfeba697ca709a

@pan- Is there any additional information on this? Also, could you please link these in the Doxygen?

[2019-08-19 14:48] pan- commented on #1137
The function you're looking for is documented here: https://os.mbed.com/docs/mbed-os/v5.13/mbed-os-api-doxy/classble_1_1_gap.html#a49774a7becc9d4fa30dfeba697ca709a . We could look at why it is not linked inside the doxygen output.

[2019-08-19 14:53] AnotherButler commented on #686
We have added the content from @kjbracey-arm to our published documentation (PR linked above). Please feel free to reopen if you feel this has not been resolved.

[2019-08-19 14:53] #686 closed

[2019-08-19 15:08] AnotherButler commented on #1136
@SeppoTakalo Could someone on your team please review this? I think it must be fixed in the code.

[2019-08-19 15:38] chocolatepatty commented on #1137
Thanks kindly for the speedy response, that looks like it should be helpful!

[2019-08-19 15:38] #1137 closed, assigned to pan-

[2019-08-20 03:00] TheNageek opened #1139 "Specify full directory path on "Working with mbed CLI" user guide"
# Full path to MBED_OS_DIR not specific in guide
Minor clarification, but when attempting to follow the guide, at the link below, specifically for managing multiple projects, could clarify that the path to the projects directory should be the full path, not just the immediate path when setting MBED_OS_DIR global, example below

`/home/user/workspace/mbed-os`

NOT

`workspace/mbed-os`

https://os.m

[2019-08-20 06:27] ciarmcom commented on #1139
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1208*

[2019-08-20 13:27] AnotherButler commented on #1139
@CuriousEngineering Thanks for raising this issue 👍

If you're interested in contributing a fix to this or any other documentation issue, our documentation contributions follow the [same guidelines as our code](https://os.mbed.com/docs/mbed-os/v5.13/contributing/index.html) (as applicable).

[2019-08-22 16:34] AnotherButler commented on #1139
We have merged PR #1141 to resolve this issue.

[2019-08-22 16:34] #1139 closed, assigned to mark-edgeworth, madchutney

[2019-08-22 17:37] AnotherButler commented on #1135
We have merged PR #1138 to resolve this issue. Please feel free to reopen it if this does not solve it.

[2019-08-22 17:37] #1135 closed, assigned to nobody

[2019-08-23 16:36] AnotherButler commented on #1136
ping @jarlamsa @SeppoTakalo

[2019-08-26 06:07] jarlamsa commented on #1136
@AnttiKauppila has the responsibility of connectivity. And yes, it seems to be a mistake in the set_blocking doxygen.

[2019-08-27 08:02] AnttiKauppila commented on #1136
https://github.com/ARMmbed/mbed-os/pull/11341

[2019-08-27 13:13] AnotherButler commented on #1136
@javiermelendezc Thanks for raising this. We believe it's resolved by this PR: https://github.com/ARMmbed/mbed-os/pull/11341

Please feel free to reopen this if it is not resolved.

[2019-08-27 13:13] #1136 closed, assigned to AnttiKauppila

[2019-09-02 10:13] mark-edgeworth commented on #1129
Just to be clear, using sudo to force the installation is not recommended at all. It could appear to fix the problem, but it could also introduce other unexpected changes in your python environment.

[2019-09-03 16:48] AnotherButler commented on #1129
Thanks for raising this issue. We believe we have solved it by adding instructions to use a virtual environment: https://github.com/ARMmbed/mbed-os-5-docs/pull/1143.

Please feel free to reopen if this issue has not been resolved.

[2019-09-03 16:48] #1129 closed, assigned to nobody

[2019-09-22 08:42] mlajus opened #1149 "debugging in vscode with openocd"
The [mbed+vscode tutorial](https://os.mbed.com/docs/mbed-os/v5.13/tutorials/visual-studio-code.html) is a bit laconic about openocd debugging configuration.

As I'm not an expert, I had  to dig and search quite a bit to do it work with a nucleo stm32f4 board :

Here are the important settings I used in launch.json :
"debugServerArgs": "-f board/st_nucleo_f4.cfg -c init -c \"reset init\"",
"serverS

[2019-09-22 12:00] ciarmcom commented on #1149
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1248*

[2019-09-30 15:17] AnotherButler commented on #1149
@mlajus Thanks for raising this issue. @evedon Is this something your team could look into?

[2019-09-30 15:35] evedon commented on #1149
This should be covered by OTG team @thegecko

[2019-10-31 21:30] ciarmcom commented on #1100
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:30] ciarmcom commented on #991
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:30] ciarmcom commented on #499
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:30] ciarmcom commented on #1078
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:30] ciarmcom commented on #1149
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:31] ciarmcom commented on #673
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-11-01 16:42] adbridge commented on #1149
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 16:43] adbridge commented on #1100
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 16:44] adbridge commented on #1078
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 16:44] adbridge commented on #991
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 16:45] adbridge commented on #673
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 16:45] adbridge commented on #499
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-12 10:17] star297 opened #1169 "Mbed OS Docs are out of date, confusing and misleading."
# Docs issue template
Mbed-os v5.14 docs and examples appear to be from earlier versions.
It's less confusing to have a blank page indicating an 'under construction' or 'Documentation not ready' label on these pages.
The example indicates the use of 'wait' however the api information states depreciated since v5.14

## Page link
https://os.mbed.com/docs/mbed-os/v5.14/apis/wait.html
https://os.mbed.

[2019-11-13 16:52] ciarmcom commented on #1169
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1311*

[2019-11-13 19:28] AnotherButler commented on #1169
Thank you for raising this issue. We're looking into it now.

[2019-12-03 19:00] tdjastrzebski opened #1179 "Mbed OS build rules"
In [Mbed OS build rules](https://os.mbed.com/docs/mbed-os/v5.10/tools/mbed-os-build-rules.html) I found nothing about **include** folders.
**mbed-os** contains 10+ **include** folders. It seems those folders contain headers which are not referenced (neither directly nor indirectly) but which have to be included.
This is undocumented.

[2019-12-03 21:22] ciarmcom commented on #1179
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1332*

[2019-12-05 12:09] ladislas opened #1182 "Using `diff` for long modifications"
# Docs issue template

While reading the Custom Target Porting documentation, I found myself wishing to have long configuration changes displayed as `diff` instead of the final result. This could also be applied to short changes.

## Page link

https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/porting/custom-target-porting.md#customizing

## Expected to find...

For long changes: (*c

[2019-12-05 13:23] ciarmcom commented on #1182
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1334*

[2019-12-05 18:21] AnotherButler commented on #1169
We've created PRs #1170 and #1180 to address this issue. Please feel free to reopen it or open a new one if you have further questions.

[2019-12-05 18:21] #1169 closed, assigned to nobody

[2019-12-11 09:52] LMESTM opened #1186 "Thread docs need to deprecate Wait ?"
# Docs issue template

Hasn't wait API been deprecated and replaced by sleep_for in latest versions ?

## Page link
https://os.mbed.com/docs/mbed-os/v5.9/reference/thread.html

## Expected to find...
update on deprecated and recommended APIs

## Found

[2019-12-11 09:58] AnotherButler commented on #1186
@LMESTM Thanks for raising this issue. That page links to the 5.9 documentation. We have added updates in the latest documentation, which will go out in 5.15.

[2019-12-11 10:04] LMESTM commented on #1186
@AnotherButler
Do you mean there should be another up-to-date page like :
https://os.mbed.com/docs/mbed-os/v5.15/reference/thread.html
I haven't found any more recent version than the V5.9  ...

[2019-12-11 11:31] kjbracey commented on #1186
Latest version is here: https://os.mbed.com/docs/mbed-os/v5.14/apis/thread.html

[2019-12-11 13:17] ciarmcom commented on #1186
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1339*

[2019-12-18 21:15] AnotherButler commented on #1186
Please feel free to reopen this issue if the link provided in the most recent comment doesn't resolve this issue.

[2019-12-18 21:15] #1186 closed, assigned to nobody

[2019-12-19 17:14] AnotherButler commented on #991
@kiranshila We believe our new guide to [porting a custom board](https://os.mbed.com/docs/mbed-os/v5.15/porting/porting-a-custom-board.html) resolves this issue. Please reopen it if it has not been resolved.

[2019-12-19 17:14] #991 closed, assigned to nobody

[2020-01-01 08:21] noritan opened #1190 "period of event1 is reset by cancel"
# Docs issue template
The example program does not work as expected.

## Page link
https://os.mbed.com/docs/mbed-os/v5.15/apis/eventqueue.html#static-eventqueue-example-posting-user-allocated-events-to-the-static-queue

## Expected to find...
It is described in the example code that two set of events are dispatched.  But the event1 is dispatched only once.

## Found
The period parameter of event1

[2020-01-01 08:51] noritan opened #1191 "Example program causes run-time error to stop."
# Docs issue template

## Page link
https://os.mbed.com/docs/mbed-os/v5.15/apis/eventqueue.html#eventqueue-example-deferring-from-interrupt-context

## Expected to find...
Expected to execute the example program without any problem.

## Found
When this example started and the push button is pushed, the example stops with following message and blinking LED1 like "----...." .

[code]

[2020-01-01 13:13] ciarmcom commented on #1191
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1356*

[2020-01-01 13:13] ciarmcom commented on #1190
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1357*

[2020-01-01 13:41] noritan opened #1192 "The size argument for EventQueue is too small."
# Docs issue template
No events are created due to less size of EventQueue storage.

## Page link
https://os.mbed.com/docs/mbed-os/v5.15/tutorials/the-eventqueue-api.html#calculating-the-number-of-events

## Expected to find...
The example program can be executed without any issues.
Three calls succeed and last one fails.

## Found
In the example program an EventQueue instance is created with an a

[2020-01-01 16:30] ciarmcom commented on #1192
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1358*

[2020-01-02 21:26] KiwiHC16 opened #1194 "CLI OS X Download link broken."
# Docs issue template
Can't get CLI for OS X

## Page link
https://os.mbed.com/docs/mbed-os/v5.9/tools/installing-with-the-mac-os-x-installer.html
Download the Mac OS X installer for Mbed CLI.

## Expected to find...
CLI dmg

## Found
XML file:
[code]

[2020-01-02 21:36] AnotherButler commented on #1194
@KiwiHC16 Thank you for raising this issue. This link is from Mbed OS 5.9 and is no longer up to date. We recommend using the latest installer release, which you can find at https://github.com/ARMmbed/mbed-cli-osx-installer/releases/latest.

If you are using a more recent version of Mbed OS, you can find our latest Mbed CLI documentation at https://os.mbed.com/docs/mbed-os/v5.15/tools/installation

[2020-01-02 21:51] AnotherButler commented on #1179
@madchutney @mark-edgeworth Could one of you please point me to or provide me with content about include folders, so I can add it to the documentation?

[2020-01-03 06:35] ciarmcom commented on #1194
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1359*

[2020-01-03 14:18] 0xc0170 commented on #1179
The link referenced above contain sources, but might be worth documenting what header extensions are supported.

Everything that is not skipped is included - every header file found in these folders is being added (following rules about TARGET, FEATURE, COMPONENT, TOOLCHAIN). A simple note might added to the build rules?

[2020-01-04 07:36] tdjastrzebski commented on #1179
@0xc0170 @AnotherButler @madchutney @mark-edgeworth
I am not certain it is worth starting a new thread but here is another build issue I came across.
`mbed-os\features\cryptocell\FEATURE_CRYPTOCELL310\include\ccsw_crys_rsa_shared_types.h` header file uses `uint32_t` type while this header has no `#include` directives at all - I guess `stdint.h` would be needed.
The problem arose while compiling `m

[2020-01-06 14:51] mark-edgeworth commented on #1179
Regarding this last point. I don't think the build system is doing anything strange here. Whenever ccsw_crys_rsa_shared_types.h is included in a source unit, there will be a preceding #include of something like stdint.h that defines uint32_t. The header is not compiled on its own.

[2020-01-06 16:35] KiwiHC16 commented on #1194
Thanks a lot.

[2020-01-07 18:26] tdjastrzebski commented on #1179
@mark-edgeworth I suspect that the order in which header files are forcefully included matters. Otherwise `ccsw_crys_rsa_shared_types.h` would not compile. If this is the case, I suggest following [headers best practices](https://www.acodersjourney.com/top-10-c-header-file-mistakes-and-how-to-fix-them/) - see **MISTAKE # 4: Not making the header file compliable by itself**.
New issue #1196 created

[2020-01-07 18:40] tdjastrzebski opened #1196 "Make header files compliable by themselves"
I suspect that the order in which header files are forcefully included during build matters. Otherwise `ccsw_crys_rsa_shared_types.h` would not compile since it uses `uint32_t` type without including `<sdtint.h>`.
If this is the case, I suggest following [headers best practices](https://www.acodersjourney.com/top-10-c-header-file-mistakes-and-how-to-fix-them/) - **MISTAKE # 4: Not making the heade

[2020-01-07 21:22] ciarmcom commented on #1196
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1365*

[2020-01-07 22:19] tdjastrzebski commented on #1179
@AnotherButler Probably there are some other undocumented build rules. E.g. `objects_cryptocell.h` header is not included anywhere, does not lay in `includes` folder but definitely is needed by `trng.c`.

[2020-01-08 20:55] AnotherButler commented on #1194
We believe we have resolved this issue. Please feel free to reopen it has not been resolved.

[2020-01-08 20:55] #1194 closed, assigned to nobody

[2020-01-08 21:01] AnotherButler commented on #1182
@ladislas Thank you for raising this issue. Our rendered website does not currently work with the `diff` feature. However, we can add code comments to these snippets to show what has changed.

[2020-01-08 21:05] AnotherButler commented on #1196
@tdjastrzebski  This looks like a code issue, not a documentation issue. Could you please raise this issue against the [`mbed-os` repository](https://github.com/ARMmbed/mbed-os/issues)?

[2020-01-09 11:36] ladislas commented on #1182
Comments sound good as well be could we have both? Maybe I'm the only one but I prefer reading the docs on Github where `diff` works ;)

[2020-01-10 09:49] jamesbeyond commented on #1192
Thanks for reporting the issue, we are looking into this ASAP

[2020-01-13 10:35] mark-edgeworth commented on #1179
Completely agree, although this is outside of the build tools remit I'm afraid.

[2020-01-13 10:39] mark-edgeworth commented on #1196
Yes, this is a code issue.

[2020-01-13 21:06] tdjastrzebski commented on #1196
Issue ARMmbed/mbed-os#12244 has been reported

[2020-01-13 21:30] AnotherButler commented on #1196
@tdjastrzebski Thank you. I'll close this issue here, so we can follow it in the new `mbed-os` issue you've raised.

[2020-01-13 21:30] #1196 closed, assigned to nobody

[2020-01-14 10:53] tdjastrzebski commented on #1179
I reported another potential code issue: ARMmbed/mbed-os#12252

[2020-01-14 22:58] AnotherButler commented on #1182
After looking into it, I don't think we can add comments. I don't think a .json allows any type of code comments. Do you think moving the changes above the code block would help?

[2020-01-15 08:48] ladislas commented on #1182
You're right, but is the json going to be used for real or just for documentation? If it's just for documentation, adding a comment as bellow is not a big deal IMHO.

[code]

At least they stand out 😂

Another option is to keep the diff format but without highlighting. The `-` shows what you must remove and the `+` what you need to add.

[code]

[2020-01-15 19:33] AnotherButler commented on #1182
Changes need to be made to `custom_targets.json` to use Mbed OS on a custom board, so I don't think adding comments will work.

[2020-01-17 13:40] maciejbocianski commented on #1191
Working on it...
Fixed test will be moved to [mbed-os-examples-docs_only](https://github.com/ARMmbed/mbed-os-examples-docs_only)
https://github.com/ARMmbed/mbed-os-examples-docs_only/pull/63

[2020-01-22 07:01] maciejbocianski commented on #1191
Here is fixed version https://github.com/ARMmbed/mbed-os-examples-docs_only/pull/63

[2020-01-22 20:32] maciejbocianski commented on #1190
Example code is Ok.
I found bug in UserAllocatedEvent implementation.
Working on it...

[2020-01-24 07:49] maciejbocianski commented on #1191
Docs link updated https://github.com/ARMmbed/mbed-os-5-docs/pull/1198

[2020-01-24 10:06] maciejbocianski commented on #1192
fix is here https://github.com/ARMmbed/mbed-os-5-docs/pull/1199

[2020-02-03 11:54] adrianlshaw opened #1217 "PSA Attestation API page doesn't specify the spec version"
## Page link

https://os.mbed.com/docs/mbed-os/v5.15/apis/psa-initial-attestation.html

## Expected to find...

The version of this PSA API implemented is missing. The API version on this page is `1.0 beta0`.

This is important for end users to note because there was a breaking change between`1.0 beta0` and `1.0 stable`. TF-M is also in the processing of merging `1.0 stable` into upstream, so it w

[2020-02-03 13:14] ciarmcom commented on #1217
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1417*

[2020-02-04 17:13] AnotherButler commented on #1192
Thanks again for raising this issue. This PR has merged, so we are closing this issue. Please feel free to reopen it if it has not been resolved.

[2020-02-04 17:13] #1192 closed, assigned to jamesbeyond

[2020-02-05 16:29] AnotherButler commented on #1217
@adrianlshaw Could you please elaborate more? Which link is out of date? The link to the TF-M repository? Or is the Doxygen, itself, out of date?

[2020-02-05 16:37] adrianlshaw commented on #1217
No links are out of date. I am just saying that the text at the top of the page should specify the version of the API.

So replace:

"The initial attestation service exposes the following PSA interfaces"

with

"The initial attestation service exposes the following interfaces (based on the Beta-0 spec of the PSA Attestation API)"

[2020-02-05 16:56] AnotherButler commented on #1217
Thanks for clarifying 👍

When will we need to do something with `1.0 stable`?

[2020-02-05 17:02] adrianlshaw commented on #1217
As soon as Mbed implements it :-) but I don't know when that might happen (I'm not in ISG).

[2020-02-06 21:39] AnotherButler commented on #1182
I've created a PR that moves the changes above the snippet to make the changes more obvious: https://github.com/ARMmbed/mbed-os-5-docs/pull/1223

[2020-02-07 22:40] AnotherButler commented on #1182
Thanks again for raising this issue 👍 I'm closing it now that PR #1223 has merged.

[2020-02-07 22:40] #1182 closed, assigned to nobody

[2020-02-13 21:37] AnotherButler commented on #1191
PR #1198 has merged, so I'm closing this issue. Please reopen it if it needs further resolution.

[2020-02-13 21:37] #1191 closed, assigned to maciejbocianski, jamesbeyond

[2020-02-13 21:39] AnotherButler commented on #1217
PR #1221 has merged, so I'm closing this issue. Please reopen it if it needs further resolution.

[2020-02-13 21:39] #1217 closed, assigned to nobody

[2020-02-15 16:32] keepitsimplejim opened #1233 "Target repository referenced does not exist"
Repository referenced to for the baseline target template sends you to a repository that does not exits.
Edit: on second reading this could be a reference to how to name a development git branch, so this could do with clarification.
## Page link
https://os.mbed.com/docs/mbed-os/v5.15/porting/porting.html
## Expected to find...
Template for a new target at https://github.com/ARMmbed/mbed-os-new-tar

[2020-02-15 21:16] ciarmcom commented on #1233
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1440*

[2020-02-16 02:25] noritan opened #1234 "Return value of Mail#get() method is incorrect"
# Docs issue template

## Page link
https://os.mbed.com/docs/mbed-os/v5.15/mbed-os-api-doxy/classrtos_1_1_mail.html#ad033ffca23a9800b6607f08cec807417

## Expected to find...
Mail#get() returns an osEvent structure with osEventMail in the status field.

## Found
The reference manual said osEventMessage is returned as the return value, but this is incorrect.  The return value is an osEvent structure

[2020-02-16 06:32] ciarmcom commented on #1234
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1441*

[2020-02-17 22:59] MAhmedDev commented on #1100
am trying to get UARTserial to work with custom nrf52832 but having no success. I got serial and rawserial to work however they are not buffered.

Some examples and documentation will be nice :)

[2020-02-18 21:39] AnotherButler commented on #1234
@noritan Thank you for raising this issue 👍 Could you please explain further? Specifically, is it the reference API page that needs to be updated (https://os.mbed.com/docs/mbed-os/v5.15/apis/mail.html) or the Doxygen page (https://os.mbed.com/docs/mbed-os/v5.15/mbed-os-api-doxy/classrtos_1_1_mail.html#ad033ffca23a9800b6607f08cec807417)?

[2020-02-19 00:44] noritan commented on #1234
There are two points to be corrected in the **Return values** description.

1. The method returns an osEvent structure instead of an integer value.  The integer status code is stored in the status field.
2. The status field is osEventMail when message received.

The Doxgen page says in the declaration line that the Mail#get() method returns osEvent type structure.

`osEvent get (uint32_t millisec

[2020-02-25 21:32] AnotherButler commented on #1234
@evedon Could someone on your team please help with this?

[2020-02-25 21:34] AnotherButler commented on #1233
@keepitsimplejim Thank you for raising this issue. Yes, this shows how to name the branch, but I see how that's not clear. I'll put up a PR clarifying this.

[2020-02-27 15:59] evedon commented on #1234
@AnotherButler I will move the JIRA ticket to the team's backlog.

[2020-03-02 22:05] AnotherButler commented on #1179
I've put up this PR to address the initial concern: https://github.com/ARMmbed/mbed-os-5-docs/pull/1260

[2020-03-02 22:10] AnotherButler commented on #1233
I've put up PR 1261 to resolve this issue. Please take a look, and let us know if this makes more sense.

[2020-03-03 08:55] mark-edgeworth commented on #1179
As hinted at earlier, the correct fix for this is to correct the header file(s) in question so that they include whatever other headers that they require to provide all of the type definitions etc needed.

[2020-03-03 16:10] AnotherButler commented on #1179
Thanks for clarifying. I thought when @0xc0170 said "A simple note might added to the build rules?", that was the requested fix.

Because the only fix is changes to the header files, and it looks like https://github.com/ARMmbed/mbed-os/issues/12244 addresses this, shall I close this issue?

[2020-03-05 10:00] geoffrey-vl opened #1264 "Build and host"
Hi,
I've noticed that the docs for our version of mbed-os went deprecated.
I'm wondering how we can build the docs (this repo) ourselves, and host it on our on-premise server.

Any guidelines?

[2020-03-05 10:06] mark-edgeworth commented on #1179
Yes, I reckon so. Thanks A!

[2020-03-05 14:43] #1179 closed, assigned to nobody

[2020-03-05 16:31] ciarmcom commented on #1264
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1466*

[2020-03-05 17:10] iriark01 commented on #1264
I'll look into a couple of options and get back to you ASAP. Could you tell me which version you need?

[2020-03-05 18:18] geoffrey-vl commented on #1264
5.9.2

[2020-03-05 21:20] Hammie217 opened #1267 "PyOCD deploy failed, deploying using mass storage device..."
# Description
After compilation of my c++ code after trying to upload to the device I get the error `PyOCD deploy failed, deploying using mass storage device...`.
It started happening out of nowhere and I've tried different boards and deleting sections of code to no avail.

The code can be found here:
https://github.com/Hammie217/NXPCupGroupProject/blob/master/main.cpp

[2020-03-05 22:01] AnotherButler commented on #1267
@Hammie217 Thank you for raising this issue. This appears to be a code issue and not a documentation issue. Could you please raise this issue in the [`mbed-os` repository](https://github.com/ARMmbed/mbed-os), instead? That's where the code lives and where we keep all of our code issues. This repository is just for documentation.

[2020-03-05 22:11] Hammie217 commented on #1267
Apologies!, I clicked the wrong repo!

[2020-03-05 22:11] #1267 closed, assigned to nobody

[2020-03-06 11:04] iriark01 commented on #1264
I can send you a ZIP of the version that you can deploy locally. Will that help?

[2020-03-06 12:58] geoffrey-vl commented on #1264
For me, yes

[2020-03-09 20:34] AnotherButler commented on #1100
@Masitech Thanks for commenting 👍 We now have documentation for BufferedSerial in our v6.0-preview branch: https://os.mbed.com/docs/mbed-os/v6.0-preview/apis/bufferedserial.html

Please note this branch is a preview and a work in progress.

[2020-03-14 23:30] tdjastrzebski commented on #1179
@AnotherButler by tracing what exactly `mbed` Python build script is doing I figured out that actually all paths have to be included.

[2020-03-16 13:10] tdjastrzebski opened #1279 "Tutorial - Debugging - Visual Studio Code does not work"
[Tutorial - Debugging - Visual Studio Code](https://os.mbed.com/docs/mbed-os/v5.15/tutorials/visual-studio-code.html) page presents approach to **mbed-os** 5.15 debugging with **VS Code**.

The proposed approach does not work for the several reasons.
1. **mbed-os** compilation with **MAKE** utility fails under MS Windows. Makefile script generated by **Mbed CLI export** tool:
   * hits Windows 819

[2020-03-16 14:07] #1234 closed, assigned to nobody

[2020-03-16 16:30] ciarmcom commented on #1279
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1473*

[2020-03-16 17:24] AnotherButler commented on #1100
We believe we answered this question, so I'm closing this issue. Please feel free to reopen it if it has not been resolved.

[2020-03-16 17:24] #1100 closed, assigned to nobody

[2020-03-16 17:54] AnotherButler commented on #1264
We believe we have resolved this issue, so I'm closing it. Please let us know if we can be of further help.

[2020-03-16 17:54] #1264 closed, assigned to nobody

[2020-03-16 18:15] geoffrey-vl commented on #1264
Yes its ok, thanks

[2020-03-16 18:43] AnotherButler commented on #1233
We believe we have fixed this issue. Please feel free to reopen this ticket or start a new one if further changes are needed.

[2020-03-16 18:43] #1233 closed, assigned to nobody

[2020-03-18 14:24] dhebbeker opened #1281 "List of supported target controllers missing."
## Expected to find...

List of all supported micro-controllers (for Mbed OS bare metal profile). For example listing the STM32F401.

## Found

* [List of boards](https://os.mbed.com/platforms/)
* [List of modules](https://os.mbed.com/modules/)
* [List of components](https://os.mbed.com/components/)

[2020-03-18 16:29] ciarmcom commented on #1281
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1476*

[2020-03-19 20:54] AnotherButler commented on #1281
@MarceloSalazar Can your team help with this?

[2020-03-20 08:47] MarceloSalazar commented on #1281
We expect to publish the list of baremetal boards in os.mbed.com/platforms for Mbed 6+

[2020-03-20 15:06] AnotherButler commented on #1281
Thanks @MarceloSalazar

[2020-03-20 16:59] AnotherButler commented on #1190
@maciejbocianski What's the status of this? Has it been resolved?

[2020-03-20 17:04] maciejbocianski commented on #1190
@AnotherButler  It has been fixed see https://github.com/ARMmbed/mbed-os/pull/12319

[2020-03-20 17:05] dhebbeker commented on #1281
Thank you @MarceloSalazar. I will leave this issue to be closed with the publication of the list, if this is ok?

[2020-03-20 17:05] AnotherButler commented on #1190
@maciejbocianski Thanks for confirming 👍

@noritan Does this resolve the issue for you?

[2020-03-21 09:34] noritan commented on #1190
The code change looks good.
But, I didn't try to run the example on 6.0.0-alpha

[2020-03-26 20:52] AnotherButler commented on #1190
We believe we have resolved this, so I'm closing this issue. Please reopen if it is not resolved.

[2020-03-26 20:52] #1190 closed, assigned to jamesbeyond

[2020-04-02 10:04] petroborys opened #1288 "TLSSocket: update SSL certificate"
# TLSSocket

## Page link
https://os.mbed.com/docs/mbed-os/v5.15/apis/tlssocket.html

## Expected to find...
Please, update SSL certificate according to the actual example.
https://github.com/ARMmbed/mbed-os-example-tls-socket

Also, I think it is advisable to add a mention of MBEDTLS_SHA1_C:

### Configuring mbedtls
It might be necessary to configure the mbedtls library with appropriate macros in

[2020-04-07 20:18] ciarmcom commented on #1288
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1498*

[2020-04-08 17:46] mertkapar opened #1291 "The EventQueue API Tutorial"
Hi,
I want to ask something related to EventQueue tutorial with the header **Calculating the number of events**

https://os.mbed.com/docs/mbed-os/v5.15/tutorials/the-eventqueue-api.html

I am assuming that 'func' has same size constraints with 'func3' and after the `queue.dispatch();`
all memory is freed and calling

1.  `queue.call(func, 1, 2, 3); // requires 13 words of storage (9+4)`
2. `queue.

[2020-04-08 20:21] ciarmcom commented on #1291
*Internal Jira reference: https://jira.arm.com/browse/IOTDOCS-1499*

[2020-04-20 06:55] iriark01 commented on #1078
@SeppoTakalo unless you or someone else from engineering can modify the script to add sections, I'll close this.

[2020-04-23 13:46] evedon commented on #1291
This tutorial gives an example of memory fragmentation when allocating events.

There are two main things to keep in mind:
- successfully allocated memory is never fragmented further
- untouched space can service any event that fits

So in the example above, a `queue` is created with space for 26 words. Two events are allocated which take 11 and 13 words of storage respectively. At this point, sto

[2020-04-23 13:46] #1291 closed, assigned to evedon

[2020-05-08 10:53] keepitsimplejim opened #1309 "Unit test section external link to documentation returns 404"
## Page link
https://os.mbed.com/docs/mbed-os/v5.15/tools/unit-testing.html#unit-testing-with-mbed-cli

## Expected to find...
In the text "See the documentation for Google Mock if you want to write and use C++ mock classes instead of stubs." the link to "documentation Google Mock" should link to the relevant documentation.

## Found
Link sends you to the 404 page on GiHhub.

[2020-05-09 07:09] iriark01 commented on #1309
Thank you very much; I've replaced the link in the relevant versions and am closing the issue as resolved.

[2020-05-09 07:09] #1309 closed, assigned to nobody

[2020-05-20 11:32] Patater opened #1323 "Baremetal porting guide asks to edit non-existent files"
Baremetal porting guide instructions don't work because they are missing a step to `mbed deploy` before editing files within the `mbed-os` folder. We can use `mbed import` to clone and deploy in one go, instead of lengthier instructions about using `git`.

Found during OOB testing of `mbed-os-6.0.0-rc1`.

# Docs issue template

## Page link

https://os.mbed.com/docs/mbed-os/development/bare-metal/